[2022-08-05 01:52] c0shea commented on #3520
@cbbaaron I agree. Even if it was another button with the other actions on the right side of the page that when clicked copied the permalink to the clipboard that would be helpful.

[2022-08-06 00:50] dzitzels1 commented on #3618
Hi Dan,

I realize that you are most likely asleep now so this should hopefully
greet you as a pleasant surprise in the morning.

With your guidance above, I was able to update my BookStack production
installation successfully.  There were a few bumps and bruises along the
way but by and large they were of my own doing.

Hopefully going forward, this will be a much easier process.  I plan to hit
t

[2022-08-06 15:45] catweis opened #3620 "Change port"
### Attempted Debugging

- [X] I have read the debugging page

### Searched GitHub Issues

- [X] I have searched GitHub for the issue.

### Describe the Scenario

Dear Sir or Madam,
how can I change the port during or after installation?
The issue is that on my machine, port 80 is not available.
Thank you in advance.
With kind regards.

### Exact BookStack Version

v21. 08.5

### Log Content

-

#

[2022-08-06 15:45] Spacefish commented on #1670
It´s easy to implement this, just add "colorpicker" to the list of tinymce plugins, when loading tinymce..
if you want to test this in your local installation:
edit `public/dist/app.js`  search for `plugins=`and add `colorpicker`to the list.
reload your bookstack with ctl + f5 such that the js get´s fetched again -> voila color picker added 👯

just created a PR for it here: https://github.com/Book

[2022-08-07 02:51] ciphermenial commented on #3620
Change the port your webserver is running on.

[2022-08-07 09:04] ssddanbrown commented on #3618
@dzitzels1 That's great to hear! Yeah, now that your instance is compatible with our updates process it should be relatively smooth sailing.

I'll therefore close this issue off.

[2022-08-07 09:04] #3618 closed, assigned to nobody

[2022-08-07 17:26] TechInterMezzo commented on #2662
Hi @ssddanbrown,
I am a bit late for this issue but I found the "keepTheme" option in the [docs of draw.io](https://www.diagrams.net/doc/faq/embed-mode). It seems to be an optional parameter for the export action and should apply the current draw.io theme when rendering the png. So when you turn on the draw.io dark mode then the appearance of the saved PNG should match.

I think you would only nee

[2022-08-07 21:37] dd-gamer opened #3622 "No application encryption key has been specified."
### Describe the Bug

I'm trying to setup bookstack in docker, but can't get further than the error "" after loading the webinterface. It's running on top of a Raspberry Pi 4b. This is my docker-compose file:

<details>

[code]

</details>

After opening the webinterface, I'm welcomed with:
Error
Illuminate\Encryption\MissingAppKeyException
No application encryption key has been specified.

After

[2022-08-08 06:07] Statium opened #3623 "Cannot select activity type input in Audit Log"
### Describe the Bug

![image](https://user-images.githubusercontent.com/4026090/183350115-1e4f28e1-d197-47cb-ad4a-95424aef30c3.png)
in the audit log, it is not possible to filter by events, because when clicked, it resets to "No filter"

### Steps to Reproduce

Go to audit log
change event filter

### Expected Behaviour

-

### Screenshots or Additional Context

_No response_

### Browser Details

[2022-08-08 06:27] khuramrr opened #3624 "unable to add users after upgrade from 22.03 - 22.07.1"
### Describe the Bug

unable to add users. getting unexpected error. laravel log below

<details>

[code]

</details>

### Steps to Reproduce

Running version 22.03
upgrade via git and composer, ran php artisan commands
got 22.07.1
system malfunctioning now.

### Expected Behaviour

normal bookstack

### Screenshots or Additional Context

![image](https://user-images.githubusercontent.com/69561959

[2022-08-08 08:15] ssddanbrown commented on #3624
Hi @khuramrr,
Can you share the output of running `ls -alh bootstrap/cache` from your BookStack installation folder?

[2022-08-08 08:26] ssddanbrown commented on #3622
Hi @dd-gamer,

The app key should be auto-generated during start-up when using the linuxserver container image, so the lack of this may indicate an issue (Perhaps that mentioned below). You can re-generate this key yourself using the command `php artisan key:generate` from within the `/var/www/html` directory within container.

Within your provided `docker-compose` file I noticed you are mapping t

[2022-08-08 08:29] ssddanbrown commented on #3620
As @ciphermenial has said above, the port is managed by your web-server.
For any further assistance we'd ideally need to know what web-server you are using, or the method used to install BookStack.

[2022-08-08 09:36] khuramrr commented on #3624
![image](https://user-images.githubusercontent.com/69561959/183387918-bb22fee0-54a5-4228-9891-06e3cc7d317f.png)

@ssddanbrown

[2022-08-08 09:42] ssddanbrown commented on #3624
Thanks @khuramrr,

Have you set a `IP_ADDRESS_PRECISION` option at all in your BookStack `.env` file?
If not, can you share the output of running `git status` from your BookStack installation folder?

[2022-08-08 09:46] khuramrr commented on #3624
thanks @ssddanbrown

no i have not set IP_ADDRESS_PRECISION. git status is as below

![image](https://user-images.githubusercontent.com/69561959/183389712-19f76a13-5968-4bdb-b3b6-33c536eff0b2.png)

app/Config/app.php is modified with iframe_sources only (allowing Google Drive + Youtube frames)

[2022-08-08 09:52] ssddanbrown commented on #3624
@khuramrr Did you overwrite the `app/Config/app.php` file from a modified version from an older version of BookStack?
If so, that could directly produce the reported problem.
Please restore the `app/Config/app.php` to the [current official app state](https://raw.githubusercontent.com/BookStackApp/BookStack/v22.07.1/app/Config/app.php) and confirm if the problem persists or not.

Edits to the `app/

[2022-08-08 09:54] dd-gamer commented on #3622
That worked, awesome! Is there a way to include this in the docker compose, so I don't need to redo this step if I made a change to the compose file?

[2022-08-08 09:58] ssddanbrown commented on #3622
Awesome, Will therefore close this off.

The key should be persistent. Somewhere within your BookStack mounted volume folder you should find a `.env` file, which will contain this key value. As long as that exists and is mounted to your container, you should not need to re-run the command.

[2022-08-08 09:58] #3622 closed, assigned to nobody

[2022-08-08 10:48] khuramrr commented on #3624
Thank you @ssddanbrown

i have reverted back to original file, now bookstack is working fine.

wired i modified it after 22.03 install and it worked very well then.

i will add to .env file from now on. thanks for the assist

[2022-08-08 10:48] #3624 closed, assigned to nobody

[2022-08-08 15:02] stephencovell opened #3626 "Bookstack Shelves Update - Given Data is Invalid"
### Describe the Bug

Hello,

I am trying to use the APIs to update shelf books. Unfortunately, I keep getting the following error:

[code]

I'm following the example request given:
https://demo.bookstackapp.com/api/docs#shelves-update

### Steps to Reproduce

1. I've used Postman and Python to test. Python code:
[code]
Note: The app URL is an example of the request I sent to my Bookstack instance

[2022-08-08 15:17] ssddanbrown commented on #3626
Hi @stephencovell,
I'm assuming you're getting caught in the validation for a different endpoint here which is confusing matters.
The `shelves-update` endpoint is a `PUT` endpoint, your code is performing a POST request currently.

Additionally, if following the API docs examples, you may better off using `json=`, described in the [requests docs here](https://requests.readthedocs.io/en/latest/user

[2022-08-08 16:48] stephencovell commented on #3626
Hi,

Thank you for your quick response.

I apologise for putting the POST request, I meant PUT... I copied the wrong code whilst trying to make code for the "snippets to reproduce".

Updating the line works.

Kind Regards,
Stephen Covell

[2022-08-08 17:15] ssddanbrown commented on #3626
Cool! Will therefore close this off.

[2022-08-08 17:15] #3626 closed, assigned to nobody

[2022-08-09 11:43] ssddanbrown commented on #3614
Limit set within commit 4209f27f1acabfccff0c2dea08f8e151ed82144f. Still fairly high (100 chars) but don't want to go too low as don't want to break existing usages.

I'll assume the 500 was something else at play, and re-name then close this issue off.

[2022-08-09 11:43] #3614 closed, assigned to nobody

[2022-08-09 11:47] ssddanbrown opened #3627 "Refactor usage and retire old laravel auth components if appropriate"
Includes use of `laravel/ui` library.
Good to do now before we jump to Laravel 9 in the future.

[2022-08-09 11:57] ssddanbrown opened #3628 "Add audit log activity for revision delete"
Currently missing any visibility of this case.

[2022-08-09 11:59] ssddanbrown commented on #3623
Thanks for reporting @Statium, This has been addressed in a90446796a113c0e9da916f0e2ea4fb61e7b6a46 and will be part of the next patch release.

[2022-08-09 11:59] #3623 closed, assigned to nobody

[2022-08-09 12:25] #3628 closed, assigned to ssddanbrown

[2022-08-09 12:33] FalcoDomenico opened #3629 "Footer and Header on PDF"
### Describe the feature you'd like

Is possibile to insert, in the export Pdf function, a footer and an header? I need to insert some images like company logo or other type of item.

Thank you

### Describe the benefits this would bring to existing BookStack users

In this way, manuals are more captivating.

### Can the goal of this request already be achieved via other means?

No

### Have you s

[2022-08-09 12:40] ssddanbrown commented on #3629
Thanks for the request @FalcoDomenico, but this is already open in #493 so I'm going to therefore close this off as a duplicate.

[2022-08-09 12:40] #3629 closed, assigned to nobody

[2022-08-09 17:05] MagnusHJensen commented on #3553
So what is the proposed wording, "Bookshelf" or just "Shelf"

[2022-08-09 17:35] ghaberek commented on #3520
I think overall the URL scheme should be improved but the current proposed scheme feels awkward to me. You could use something like [Hashids](https://github.com/vinkla/hashids) to generate reversible unique IDs from the database ID for each entity type, which alleviate having to run a large migration across the whole database. Then use each URL prefix (or just `'p'`, etc.) to encode the entity IDs

[2022-08-10 01:21] tunloop opened #3631 "LXC Proxmox Restore breaks Bookstack: PHP Fatal Error - connector.php missing"
### Describe the Bug

When running Ubuntu 20.04 in an LXC on Proxmox 7.2-7 and attempt to restore to earlier known working backups, the restored LXC breaks and web access is unavailable due to a PHP error with an apparent lost file "/var/www/bookstack/vdenor/laravel/framework/src/Illuminate/Database/Connectors/Connector.php"
Apache and PHP are running without error.

### Steps to Reproduce

1. Hav

[2022-08-10 07:18] ssddanbrown commented on #3631
Hi @erasedhammer99,

The error shown is not stating that the `Connector.php` file itself is missing, that's just where the error is being generated from.
The real error is that BookStack does not have valid access to the database, or the expected database and tables are missing.
What exactly is going wrong will really depend on your backup/restore process, I'd need more insight on your process to

[2022-08-10 08:56] rockenren opened #3633 "Page revisions list can exhaust memory/query limits with high item counts"
### Attempted Debugging

- [X] I have read the debugging page

### Searched GitHub Issues

- [X] I have searched GitHub for the issue.

### Describe the Scenario

We have a page with 1000+ revisions in count (and 650 rows in database), when trying to access this page revisions history, the error occurs (see logs below).

![image](https://user-images.githubusercontent.com/11333307/183858803-f54e3e8

[2022-08-10 09:37] dnazerox opened #3634 "advanced editor Tinymce"
### Attempted Debugging

- [X] I have read the debugging page

### Searched GitHub Issues

- [X] I have searched GitHub for the issue.

### Describe the Scenario

hi, how can the advanced menus be enabled in the Tinymce editor?
es. file - edit - view  - insert  - format  - tools  - tables

tnks

### Exact BookStack Version

v22

### Log Content

_No response_

### PHP Version

7.2

### Hosting Env

[2022-08-10 12:12] ssddanbrown commented on #3634
Hi @dnazerox,

We [expose some events](https://www.bookstackapp.com/docs/admin/hacking-bookstack/#bookstack-editor-events) that can be used to edit the TinyMCE config. My [comment here](https://github.com/BookStackApp/BookStack/issues/1203#issuecomment-621342313) shows an example of using this to alter the toolbar of TinyMCE.

Note: Altering of tinymce is not supported and customizations may break

[2022-08-10 12:15] ssddanbrown opened #3636 "JVN#78862034"

[2022-08-10 12:22] ssddanbrown opened #3637 "First code block insert on fresh cache in WYSIWYG editor fails to render"
Reported by ancieque in Discord, although as per their report likely also applicable on first page edit open with existing code blocks.
Confirmed in dev instance as specifically reproducible when inserting a fresh code block with fresh cache.
Likely same root cause.

[2022-08-10 12:53] #3637 closed, assigned to ssddanbrown

[2022-08-10 13:02] ssddanbrown opened #3638 "Add pagination to the page revisions view"
Will help organize and allow scale for high-revision count scenarios such as that in #3633.

[2022-08-10 13:05] ssddanbrown commented on #3633
Thanks for reporting @rockenren,

I can confirm that data fetching for the revisions list display is done very inefficiently. The revision content is being loaded in, which it does not need to be for this view, hence exhausting memory limits.

I've assigned this to be addressed for the next patch release (Targeted for release tomorrow) to directly address these inefficiencies.
I've also opened up

[2022-08-10 13:13] dnazerox commented on #3634
thank you very much, I'll give it a look

Il giorno mer 10 ago 2022 alle ore 14:12 Dan Brown ***@***.***>
ha scritto:

[2022-08-10 13:15] ssddanbrown commented on #3634
Happy to help, will therefore close this off.

[2022-08-10 13:15] #3634 closed, assigned to nobody

[2022-08-10 13:31] tunloop commented on #3631
It seems that mysql crashes after a few seconds after being started. I hadn't noticed.
The error was that the /var/log/mysql/error.log had the wrong permissions, it was owned by root:root so mysql couldn't write to it.

Whats strange is that this was a FULL restore from Proxmox. I have no clue why a working backup would be in a different state than when the backup snapshot was taken. But I suppose

[2022-08-10 16:15] ssddanbrown commented on #3631
Strange, have recently seen a lot of odd behaviour with LXC containers when it comes to running them on ZFS storage.

Happy to help though, will therefore close this off.

[2022-08-10 16:15] #3631 closed, assigned to nobody

[2022-08-10 16:57] ssddanbrown commented on #3633
This has now been addressed as part of 031c67ba58923872a1a6e8cd5bbae593b8e87377 and will be part of the next patch release as mentioned above. I'll therefore close this off but please still comment if you continue to experience any issues after updating once the release has been deployed.

[2022-08-10 16:57] #3633 closed, assigned to ssddanbrown

[2022-08-10 16:59] ErikHumphrey commented on #3614
Thanks! Pentester and myself tried to reproduce the issue on the same, old version recently and weren't able to either; sorry.

[2022-08-10 17:01] ssddanbrown commented on #3614
@ErikHumphrey No worries! Thanks for confirming though!

[2022-08-10 20:32] mrcompsci commented on #3544
I'm seeing the same issue on version 22.04.   It was upgraded a few months ago from v0.29 and hasn't been able to sort pages within a book ever since.

Sorting does not work with an admin-level user.  The system is running PHP 7.4 with the JSON extension active.   I confirmed in MySQL that the _priority_ field in the _pages_ tables is not getting updated.  Manually updating that field causes pages

[2022-08-10 21:04] ssddanbrown commented on #3544
@mrcompsci Feel free to open an new issue if you have this issue, so that you can detail your environment. Note though, Only the latest version of BookStack is supported, Ideally I'd want confirmation this issue exists for you on the latest version.

[2022-08-11 06:56] SantisTraining opened #3640 "User Creation Unknown Error Occured | Bookstack"
### Attempted Debugging

- [X] I have read the debugging page

### Searched GitHub Issues

- [X] I have searched GitHub for the issue.

### Describe the Scenario

Dear Bookstack Community

We have the problem that we cannot create any new users in our Bookstack website (wiki).
When I try to create the User with the Admin account and all credentials and the correct persmissions and press on create

[2022-08-11 08:43] ssddanbrown commented on #3640
Hi @SantisTraining,
None of the log files shared are relevant error log files, but are access and general service log files.
Please view the error log file, [as described in our docs](https://www.bookstackapp.com/docs/admin/debugging/#error-log-file) to gain details on this particular error.

[2022-08-11 09:39] SantisTraining commented on #3640
@ssddanbrown Hey Thx for the quick response.

Iwasn't sure if i sent you the right logs.

I got the Laravel log now you also have to know that im not the one who installed this application so its all kind of new form me and my workpartners. As i see in this log it tells me the mail cannont be sent because smtp.mailserver isnt configured correctly is this true ?
and thx for the help in advance
[lar

[2022-08-11 09:56] tyfai commented on #3553
I assume that question is for @ssddanbrown, but I'm happy to share my opinion if it helps:

I would propose using the word "Shelf". I think it's clear that in the context of BookStack a shelf would only contain books.

It's also a shorter word! :)

[2022-08-11 09:56] ssddanbrown commented on #3640
Hi @SantisTraining,
That is correct, It looks like the system is having trouble sending email through the configured outlook-based SMTP provider.
In your `/var/www/bookstack/.env` file, what is the current value (If existing) of the `MAIL_ENCRYPTION` option?

If it helps, while testing & configuring things, you can send test emails via the "Settings > Maintenance" area within BookStack.

[2022-08-11 10:08] milneauk opened #3641 "Page permalink visibility"
### Describe the feature you'd like

Would it be possible to add a more visible way to display a page permalink?

I suggested having a toggle in the settings to display this information at the bottom of the page (#3520) but @c0shea rightly suggested about having another button on the right-hand side of the page to copy the permalink to the clipboard.

### Describe the benefits this would bring to

[2022-08-11 10:22] ssddanbrown commented on #3641
Thanks for the request but this is essentially a duplicate of #2917 so please see my response there and I'm going to close this off as a duplicate.

[2022-08-11 10:22] #3641 closed, assigned to nobody

[2022-08-11 13:27] SantisTraining commented on #3640
Hello @ssddanbrown

The Lines are listed as followed:
MAIL_HOST=smtp-mail.outlook.com
MAIL_PORT=587
MAIL_USERNAME=hiddenmail@mail.ch
MAIL_PASSWORD=null
MAIL_ENCRYPTION=STARTTLS

without quotation and closing marks

Greetings

Santis

[2022-08-11 14:14] ssddanbrown commented on #3640
Hi @SantisTraining,

You could try changing changing the `MAIL_ENCRYPTION=STARTTLS` to instead be `MAIL_ENCRYPTION=tls`.
Additionally, you might need to change your `MAIL_HOST` option to be `MAIL_HOST=smtp.office365.com`.
You may also need to provide a password, sometimes (Such as if MFA is enabled) you may need to generate a seperate "app password" for this kind of usage.

[2022-08-11 14:15] #3636 closed, assigned to ssddanbrown

[2022-08-11 14:25] rockenren commented on #3633
Can confirm, issue is resolved after updating to v22.07.3.
Thank you.

[2022-08-11 14:37] ssddanbrown commented on #3633
@rockenren Awesome, thanks for confirming!

[2022-08-11 20:35] mrcompsci opened #3644 "Page order not updated after sorting"
### Attempted Debugging

- [X] I have read the debugging page

### Searched GitHub Issues

- [X] I have searched GitHub for the issue.

### Describe the Scenario

The order of pages within a chapter is not saved when using the sort function.   The priority field in the database is not updated.   This is true of existing books and chapters as well as newly created ones.   No errors are displayed or

[2022-08-11 22:09] ssddanbrown commented on #3644
Hi @mrcompsci,

Where is the `7.2.34` php version coming from, is that the version of PHP being used for bookstack itself?

[2022-08-11 22:41] mrcompsci commented on #3644
@ssddanbrown

I apologize for the contradiction.   The CLI reports 7.2.34 as does cPanel's "server information" page, but if I use phpinfo() on the site itself, it reports 7.4.30.

[2022-08-12 03:35] maojunxyz opened #3645 "Failed to modify guest Preferred Language"
### Describe the Bug

I modified the English to Chinese.It doesn't work。

I logged out of my account and it still shows English. When I logged in again, the guest language settings page was automatically reset to English.

### Steps to Reproduce

1. Login Admin
2. Go to Users Setting
3. modify Guest Preferred Language to Chinese
4. Log out Admin
5. guest access, the display is in English
6. Login

[2022-08-12 06:39] om226 opened #3646 "Add romanian translation"
### Language to Add

Romanian (RO)

### Confirmation of Intent

- [X] I confirm I'm offering to help translate for this new language via Crowdin.

[2022-08-12 10:42] ssddanbrown commented on #3645
Hi @maojunxyz,
Technically, the anonymous user is not logged in as this account, it's just used for permission control, so their language option won't be applied for external/public use.

Please see this page in our docs for setting the default language:
https://www.bookstackapp.com/docs/admin/language-config/#setting-the-default-language

[2022-08-12 10:44] ssddanbrown commented on #3646
Hi @om226,
Thanks for offering to translate BookStack into Romanian. I have now enabled this language option in Crowdin:
https://crowdin.com/project/bookstack/ro

Note, I may remove this option again if progress is minimal after some time.

[2022-08-12 10:44] #3646 closed, assigned to ssddanbrown

[2022-08-12 10:55] ssddanbrown commented on #3644
@mrcompsci Thanks for confirming. This is gonna be a bit tricky to solve other than attempting to replicate your environment directly, so you may need to bear with me to run through debugging steps.

Could you find the line highlighted here:
https://github.com/BookStackApp/BookStack/blob/1fdf854ea735bf69e1c2666d8d23f66b243d7afe/app/Http/Controllers/BookSortController.php#L61

and **_below_** it, a

[2022-08-12 12:18] Statium opened #3647 "Add font size plugin"
### Describe the feature you'd like

Add font size plugin to change default font on pages.
https://www.tiny.cloud/blog/custom-font-sizes-in-tinymce/

### Describe the benefits this would bring to existing BookStack users

Convenience

### Can the goal of this request already be achieved via other means?

No

### Have you searched for an existing open/closed issue?

- [X] I have searched for existi

[2022-08-12 12:33] Statium commented on #3647
or please tell me in which file the editor is initialized to add the plugin

[2022-08-12 13:09] mrcompsci commented on #3644
@ssddanbrown  Here is the output.   I have three test pages within a chapter - Page 1A (item 1322), Page 2A (item 1323) and Page 3A (item 1324) which are currently in order 1-3.   I just tried to sort them in reverse order.

[code]

[2022-08-13 06:34] #3645 closed, assigned to nobody

[2022-08-13 10:57] ssddanbrown commented on #3647
Hi @Statium,
Font size control has already been requested in #1148 so I'll therefore close this off as a duplicate.
We expose editor events which can provide the TinyMCE config for tweaking:
https://www.bookstackapp.com/docs/admin/hacking-bookstack/#bookstack-editor-events

You can see an example of this in my comment here:
https://github.com/BookStackApp/BookStack/issues/1203#issuecomment-6213423

[2022-08-13 10:57] #3647 closed, assigned to nobody

[2022-08-13 11:04] ssddanbrown commented on #3644
Thanks for the info @mrcompsci,
That all looks fine. I'm getting the impression that permissions may be at play here.

When you say the following:

Does the user have all possible role permissions assigned? And are there any permission overrides set on the content being sorted?

[2022-08-13 13:08] mrcompsci commented on #3644
@ssddanbrown

This user has the Admin role and one other assigned.  The admin role has all permissions assigned.

![user_permissions](https://user-images.githubusercontent.com/14784837/184495441-9b09e4e3-afc9-4e78-8e71-f00915fa5422.png)

The book I'm testing with did have custom permissions to hide it from the public, but I just tried disabling that and was still unable to sort pages.  I even trie

[2022-08-13 13:33] ssddanbrown commented on #3644
Okay, as a next step, could you find the following file & lines:

https://github.com/BookStackApp/BookStack/blob/1fdf854ea735bf69e1c2666d8d23f66b243d7afe/app/Entities/Tools/BookContents.php#L182-L184

Then,  before the `return;` line add `dd('lacking permission');`
This will help us determine if this is something permission related, since you're expected to have all permissions with your user setu

[2022-08-13 14:33] mrcompsci commented on #3644
Yes, it does seem to be permission related.   I received the "lacking permission" message when I tried to sort.

I confirmed again that the Admin role has all of the permissions assigned in the web interface, but perhaps something is wrong in the database?

![admin_role](https://user-images.githubusercontent.com/14784837/184498788-6ee36e75-e675-421b-8471-e4ecc7e7d9c9.png)

[2022-08-13 20:45] noxify commented on #473
Yeah, webhooks could be a solution - since the request is 5 years old and based on the comments on other related issues, I'm not sure if it will be implemented.

I'm fine if the issue will be closed as "won't do" - or are there plans to implement something like that?

[2022-08-13 23:46] aswgxf commented on #473
I have a similar need for a review system, though mine is more of an ongoing review, and not a review before publishing need. My current plan is to use the tagging system to set certain tags on pages, and then write a script to check the pages for items needing review.

This would just be a cron job that runs every day that evaluates the review status of every page based on tags applied to the pag

[2022-08-14 03:43] Mailstorm-ctrl opened #3648 "HTTPS Support"
### Describe the feature you'd like

Pretty simple...support for HTTPs would be nice. If you force the page to load over https (after adding virtualhost 443) the pages are broken because the links in the page reference http...causing them not to load.

![image](https://user-images.githubusercontent.com/53045430/184521556-a52fe757-f435-49f3-a73d-05ffc2c421b2.png)

### Describe the benefits this wou

[2022-08-14 09:25] ssddanbrown commented on #3648
Hi @Mailstorm-ctrl,

You just likely need to update the `APP_URL` option in your `.env` file (Commonly at `/var/www/bookstack/.env` if installed using the Ubuntu install script).
I've have a video guide on adding HTTP if it helps:
https://youtu.be/wq78komr9rs?t=649

[2022-08-14 10:42] ssddanbrown commented on #473
@noxify For now I'd rather keep this open, since it's something that pops up now and again, and we'll just end up with a new issue lacking historical context. Feel free to unsubscribe from notifications though if they are annoying.

@aswgxf If it helps, it's possible to define custom commands using our [logical theme system](https://github.com/BookStackApp/BookStack/blob/development/dev/docs/logic

[2022-08-14 10:50] ssddanbrown commented on #3644
Quite possible at this stage.

As the next debug step, could you find this section:

https://github.com/BookStackApp/BookStack/blob/1fdf854ea735bf69e1c2666d8d23f66b243d7afe/app/Entities/Tools/BookContents.php#L252-L257

and, above it, add the following:

[code]

Then report output, if existing. Should allow us to find the exact failing permission check.

[2022-08-14 13:34] Mailstorm-ctrl commented on #3648
Ah...didn't realize that. Thanks!

[2022-08-14 13:47] ssddanbrown commented on #3648
Will therefore close this off.

[2022-08-14 13:47] #3648 closed, assigned to nobody

[2022-08-14 14:30] ssddanbrown commented on #493
If it helps, I just published a video on using the visual theme system to achieve a footer on PDF exports with the default DomPDF renderer:
https://youtu.be/5bZ7zlNEphc

[2022-08-14 14:45] mrcompsci commented on #3644
$newParentInRightLocation is false:

[code]

[2022-08-14 17:51] bridgeyuwa opened #3649 "Deploy Bookstack without composer"
### Describe the feature you'd like

Installation & Deployment Process Revamp
Creation of a streamlined & secure process for users to deploy & update BookStack with reduced development requirements (No git or composer requirement)

Please how soon will this be implemented.
Some of us are fed up with composer

### Describe the benefits this would bring to existing BookStack users

It would make it

[2022-08-14 18:08] ssddanbrown commented on #3649
No sure to be honest. It is the next item on the roadmap after permissions, so I could roughly estimate first half of next year, but I'm not sure it'd be that worthwhile and I'd probably consider changing up the roadmap and removing that phase, or alter it to something different.

This is because I haven't seen much complaint about the current install and update processes, and the current process

[2022-08-15 04:03] Statium opened #3650 "Month missing when exporting instructions"
### Describe the Bug

When exporting a statement, the month was not specified in the creation date
![image](https://user-images.githubusercontent.com/4026090/184575072-83d968db-e42e-4167-8485-2b74383df797.png)

### Steps to Reproduce

1. Export PDF

### Expected Behaviour

-

### Screenshots or Additional Context

_No response_

### Browser Details

_No response_

### Exact BookStack Version

v22.

[2022-08-15 07:10] Statium commented on #3650
The problem is in the encoding (at least when choosing the Russian language by default). When exporting html, the month is replaced by question marks.

[2022-08-15 08:09] Statium commented on #3590
I have a similar problem. In Russian.

[2022-08-15 08:18] MrMKJ opened #3651 "Uploaded Images Show as Placeholder"
### Describe the Bug

Uploaded/inserted images are rendering as a placeholder image, both on the edit and saved page views.

![TestPage](https://user-images.githubusercontent.com/40501541/184597376-11db6b3a-0ca9-4d2c-a99f-55261e5cfeb9.JPG)

![TestPage_Edit](https://user-images.githubusercontent.com/40501541/184597410-e1a16867-9651-4baa-89f9-a816c2f45541.JPG)

### Steps to Reproduce

1. Enter edit

[2022-08-15 12:14] ssddanbrown commented on #3651
Hi @MrMKJ,
Does this behavior occur for all types of images?

I'm wondering if this behavior could occur if an image was uploaded with an incorrect extension.
The image shown is named as "JPG" but appears to be a screenshot which would typically be png.
The thumbnails may work since they'd be specifically re-encoded as jpeg, to match the extension, during the upload process.

[2022-08-15 12:18] ssddanbrown commented on #3650
Very much related to #3590, Possibly due to missing locale data. I'm not sure how locales work in Windows environments.

@Statium Can you provide any additional detail regarding your environment, and actual PHP version? Since PHP8.3 is not a thing that exists right now.

[2022-08-15 12:22] Statium commented on #3650
PHP 8.1.5
Windows Server 2019

[2022-08-15 13:40] EDMJohnny commented on #1265
As far as I can tell BookStack is pretty close to perfect for a writing / collaboration platform. Super simple to use, very intuitive.  Inline comments would make it perfect!  Is this something you are working on or have an ETA for?
Thanks

[2022-08-15 13:46] SantisTraining commented on #3640
@ssddanbrown

i get nnow 2 errors when i played arround with the config a bit.
I switched back to STARTLS and used port 465 gave me this error.

Error thrown when sending a test email: Connection could not be established with host smtp.office365.com :stream_socket_client(): Unable to connect to starttls://smtp.office365.com:465 (Unable to find the socket transport &quot;starttls&quot; - did you fo

[2022-08-15 14:13] bloomt commented on #3272
+1 for this feature

[2022-08-15 14:44] JtheBAB opened #3652 "API update page not working"
### Attempted Debugging

- [X] I have read the debugging page

### Searched GitHub Issues

- [X] I have searched GitHub for the issue.

### Describe the Scenario

I am playing around with the API System and try to update a page.

I send the following body:

`{"id":1982,"book_id":37,"chapter_id":0,"name":"test","html":"<p id=\"bkmrk-das-ist-ein-test\">Das ist ein <strong>Test<\/strong> - Update<\/p

[2022-08-15 14:49] MrMKJ commented on #3651
Hi @ssddanbrown

Thanks for getting back to me so quickly!

The reason I was uploading jpg was to try to test with formats other than PNG.

As you can see from the screen-shot below, the issue manifests for PNG & JPG - however for some PNG files the thumbnail is also not rendering.

![TestPage_ImageSelect2](https://user-images.githubusercontent.com/40501541/184654482-9c02e260-9fd0-498e-accc-5b2742

[2022-08-15 15:44] ssddanbrown commented on #1265
@EDMJohnny

Not at this time.

[2022-08-15 15:50] ssddanbrown commented on #3640
I am not completely sure on the rules Microsoft imposes, but I'd be surprised if you could send mail through their SMTP server without a proper authenticated account. Since that error is explicitly failing authentication due to credentials, I would assume it's therefore required.

[2022-08-15 15:53] ssddanbrown commented on #3652
Hi @JtheBAB,

- Is the HTML content being sent different to what already exists?
- Are making this request with a `Content-Type` header?

[2022-08-15 15:58] ssddanbrown commented on #3651
Thanks for confirming @MrMKJ. Could you:

- Share/attach the `testpng.png` file, just so I have an exact failing case to work with.
- On one of the failing images, can you click the entry in the displayed network area of the devtools and share what the "Response" tab shows.

[2022-08-15 16:02] JtheBAB commented on #3652
Hi @ssddanbrown

Yes.

Original:

`"html":"<p id=\"bkmrk-das-ist-ein-test\">Das ist ein <strong>Test<\/strong><\/p>"`

New:

`"html":"<p id=\"bkmrk-das-ist-ein-test\">Das ist ein <strong>Test<\/strong> - Update<\/p>"`

Basically the same as in the API documentation. But also when i replace it to

`"html":"Bla bla"`

the page doesn't change.

I guess so as i sent now (above it is missed).

`$conten

[2022-08-15 16:46] MrMKJ commented on #3651
HI @ssddanbrown

The response tab shows no data for the request.

![TestPage_devtools_response](https://user-images.githubusercontent.com/40501541/184678001-691490a0-8ba2-4a7b-abec-31d8058c599f.PNG)

Here is the testpng.png file requested.

![testpng](https://user-images.githubusercontent.com/40501541/184678250-ddd758af-2a10-409e-86ed-797e24b23ee0.png)

[2022-08-15 18:23] EDMJohnny commented on #1265
Thanks for responding.  Is this something you'd be willing to put a bounty on / get paid for completing?  Do you have a ballpark for cost of adding this feature?

[2022-08-15 21:35] ssddanbrown commented on #3652
Hi @JtheBAB,

If you are sending JSON content like in your original example above your request content type will need to match, and therefore be `application/json`

[2022-08-15 21:57] ssddanbrown commented on #1265
@EDMJohnny I'm not really a fan of public bounties, can just cause issues. Not really sure on ballpark costs either as this would need fleshing out into a full proposal since this request could be imagined/desired in different forms.

I've quoted features before (although never accepted) but only for features with clear scope and platform fit. Something makes me uneasy about rushing through a prop

[2022-08-16 02:07] raycastly opened #3654 "Unable to install BookStack on a fresh Digital Ocean Droplet with installation scripts"
### Attempted Debugging

- [X] I have read the debugging page

### Searched GitHub Issues

- [X] I have searched GitHub for the issue.

### Describe the Scenario

I tried to do this with 22.04 and 20.04 ubuntu droplets and I tried to use adequate installation scripts:

1. Buy a new, fresh digital ocean droplet just like in the tutorial video.
2. Once you ssh into the server, follow the instruction

[2022-08-16 08:03] JtheBAB commented on #3652
Hi @ssddanbrown

Thank you. Then i complete misunderstand the docs in the "Request Format" section. Now it works with:

`$contentType = "application/json"
Invoke-WebRequest -uri https://url/api/pages/1982 -Headers $Headers -method PUT -Body $body -ContentType $contentType`

with

`{"id":1982,"book_id":37,"name":"test","html":"Bla bla"}`

as payload.

As a side note:

When i do a GET on that page,

[2022-08-16 08:39] Stephan9283 opened #3655 "404 on settings page"
### Describe the Bug

Hello,
actually I have version v22.02.3 installed and want to upgrade to the new version. Everything is fine but the settings page comes with the 404 error message. In the url I see that it want to open /settings/features and in the old version it will only open /settings
thanks and regards
Stephan

### Steps to Reproduce

1. Logged in as admin
2. click on settings

### Expec

[2022-08-16 09:32] ssddanbrown commented on #3655
Hi @Stephan9283,
I'm confused about your scenario, are you attempting to upgrade here?
The `/settings/features` URL is only part of BookStack v22.03 or greater, you should not have that URL, or expect that to work, on an earlier version.

[2022-08-16 09:50] ssddanbrown commented on #3654
Hi @maxhacker11,

I just ran a test on Ubuntu 20.04 on Digital Ocean, using our 20.04 install script, and all installed fine without issue.
The MySQL version was exactly matching that shown in your provided logs.

- Are you sure your server environment is fresh?
- What exact image are you using when creating the droplet?
- Are you providing any user data to digital ocean?
- Are you running any oth

[2022-08-16 09:50] Stephan9283 commented on #3655
Hello @ssddanbrown ,
thanks for your help. I'm currently on version 22.02.3 and want to update the latest 22.07.3 following the update instructions on github. But after the update the settings/features is not available and I get the 404 error.

[2022-08-16 09:51] ssddanbrown commented on #3655
@Stephan9283 Okay, do you get any errors when running any of the three main update commands?

[2022-08-16 09:56] ssddanbrown commented on #3620
Since there's been no follow-up I'm going to close this. If the issue remains and is something you still require to be fixed respond to my previous comment and this can then be re-opened.

[2022-08-16 09:56] #3620 closed, assigned to nobody

[2022-08-16 10:34] Stephan9283 commented on #3655
No errors. The other setting pages like maintenance, audit or users work fine.

[2022-08-16 10:35] ssddanbrown commented on #3655
@Stephan9283 Within your bookstack directory can you provide the output of running the following command?:

[code]

[2022-08-16 11:15] Stephan9283 commented on #3655
Auf Branch release
Ihr Branch ist auf demselben Stand wie 'origin/release'.

Änderungen, die nicht zum Commit vorgemerkt sind:
  (benutzen Sie "git add/rm <Datei>...", um die Änderungen zum Commit vorzumerken)
  (benutzen Sie "git restore <Datei>...", um die Änderungen im Arbeitsverzeichnis zu verwerfen)
        gelöscht:       .env.example
        geändert:       resources/views/settings/audit.bl

[2022-08-16 11:18] ssddanbrown commented on #3655
@Stephan9283 Okay, there appear to be some changed files there which could conflict on update.

- Have you intentionally made any changes to core BookStack files?
- Can you provide the full output shown when running the `git pull origin release` update step?

[2022-08-16 11:22] Stephan9283 commented on #3655
[git_pull_origin_release.txt](https://github.com/BookStackApp/BookStack/files/9350430/git_pull_origin_release.txt)

No I didn't change any core files.

[2022-08-16 11:26] ssddanbrown commented on #3655
@Stephan9283 Thanks for confirming.

The output provided makes it seem like that `git pull origin release` had not yet been ran, did you definitely run this command when attempting update before?

What occurs now if you proceed with the next two update steps?

[code]

[2022-08-16 11:26] raycastly commented on #3654
Hello @ssddanbrown , first of all thanks for taking the time to help! I think I'm going to love this app once I get it running, it seems to have all I ever wanted:D

Here's the answers in order:
1. Yes, it must be because I just created a new droplet and as soon as I logged in I started the script commands. The second and third time I tried it, I used the "rebuild" option which rebuilds the drople

[2022-08-16 11:30] Stephan9283 commented on #3655
that was before with the old version. Now the result ist the following:
Von https://github.com/BookStackApp/BookStack
 * branch              release    -> FETCH_HEAD
Bereits aktuell.

[2022-08-16 11:30] ssddanbrown commented on #3654
@maxhacker11 Okay, if it fails again please could you screenshot the digital ocean droplet creation screen, so I can for sure use the exact same image, zone and droplet size/type configuration.

[2022-08-16 11:31] ssddanbrown commented on #3655
@Stephan9283 Okay, can you now run the above two update steps and provide output of those?

[2022-08-16 11:35] Stephan9283 commented on #3655
**composer install --no-dev**
Do not run Composer as root/super user! See https://getcomposer.org/root for details
Continue as root/super user [yes]?

Installing dependencies from lock file
Verifying lock file contents can be installed on current platform.
Nothing to install, update or remove
Package swiftmailer/swiftmailer is abandoned, you should avoid using it. Use symfony/mailer instead.
Gener

[2022-08-16 11:39] ssddanbrown commented on #3655
@Stephan9283 After those commands, does it still fail to load the settings page?

[2022-08-16 11:46] Stephan9283 commented on #3655
Unfortunately yes

[2022-08-16 11:47] ssddanbrown commented on #3655
@Stephan9283 Alright, can you re-confirm the output of running: `git status` in the current state of the application.

[2022-08-16 11:52] Stephan9283 commented on #3655
still the same output:
Auf Branch release
Ihr Branch ist auf demselben Stand wie 'origin/release'.

Änderungen, die nicht zum Commit vorgemerkt sind:
  (benutzen Sie "git add/rm <Datei>...", um die Änderungen zum Commit vorzumerken)
  (benutzen Sie "git restore <Datei>...", um die Änderungen im Arbeitsverzeichnis zu verwerfen)
        gelöscht:       .env.example
        geändert:       resources/

[2022-08-16 11:52] raycastly commented on #3654
<img width="534" alt="image" src="https://user-images.githubusercontent.com/9881034/184869645-1f978dd1-9b84-48f9-87b0-1167ab8cfae9.png">
<img width="557" alt="image" src="https://user-images.githubusercontent.com/9881034/184869673-bce5368f-1f5c-4d13-a1f6-d0ff9b052425.png">
<img width="1083" alt="image" src="https://user-images.githubusercontent.com/9881034/184869707-23d82d3f-fe52-41dd-8709-9f89aee

[2022-08-16 11:53] ssddanbrown commented on #3655
@Stephan9283 Please can you provide the output of running the following:

[code]

[2022-08-16 12:00] Stephan9283 commented on #3655
diff --git a/resources/views/settings/features.blade.php b/resources/views/settings/features.blade.php
old mode 100644
new mode 100755

[2022-08-16 12:02] raycastly commented on #3654
@ssddanbrown let me know if that is enough details or if more is necessary:)

[2022-08-16 12:05] ssddanbrown commented on #3655
@Stephan9283 Alright, Please run the following to ignore permission changes:

[code]

It's a bit suspicious that only this directory have had permission changes, and that this is the view that fails to load.
Could you confirm the full output of running:

[code]

[2022-08-16 12:08] Stephan9283 commented on #3655
I run the git command and had no output.

Here ist ls output:
insgesamt 56K
drwxr-xr-x  6 www-data www-data 4,0K 16. Aug 12:30 .
drwxr-xr-x 25 www-data www-data 4,0K 16. Aug 12:30 ..
-rwxr-xr-x  1 www-data www-data 5,3K 16. Aug 12:30 audit.blade.php
-rwxr-xr-x  1 www-data www-data 7,7K 16. Aug 12:30 customization.blade.php
-rwxr-xr-x  1 www-data www-data 2,7K 16. Aug 12:30 features.blade.php
-rwxr

[2022-08-16 12:12] ssddanbrown commented on #3654
@maxhacker11 Thanks for the info.

The usage of the smallest droplet size has reminded me of an issue that can occur.
With default settings, during the install process on recent versions of Ubuntu & MySQL, MySQL can fail to start due to not having enough memory available, since 512MB is a little too tight for the defaults.

You can still get by on the smallest droplet size, but you just need some

[2022-08-16 12:17] ssddanbrown commented on #3655
Nothing unexpected there.
If you navigate directly to the `/settings/audit` endpoint, does that load okay?

[2022-08-16 12:29] Stephan9283 commented on #3655
yes. I see the audit protocol

[2022-08-16 12:36] ssddanbrown commented on #3655
Okay, what about the `/settings/registration` endpoint? Does that load okay?

[2022-08-16 12:55] Stephan9283 commented on #3655
that also fails with a 404

[2022-08-16 13:20] raycastly commented on #3654
Well @ssddanbrown , it seems like it worked judging by the logs, but I am quite confused at the moment - I am presented with a Digisac login screen on my subdomain wiki.bundos.org ? And this is some completely random website I have no clue what this is haha Do you have any clue what could have gone wrong? hahah
On my digital ocean I have setup the A DNS record to point to the adequate droplet.

[2022-08-16 13:26] raycastly commented on #3654
It might just be something local on my computer that's acting weird. My friend is able to access the adequate login page via the exact same link - I am very confused haha

[2022-08-16 14:22] ssddanbrown commented on #3654
It can take a while for DNS changes to roll-out.
From looking [at this page](https://dnschecker.org/#A/wiki.bundos.org) I can see the domain is still pointing to a different IP (Which has the Digisac login screen) in some locations. Might just need to give it a bit more time to roll out and for caches to expire.

[2022-08-16 14:23] ssddanbrown commented on #3655
@Stephan9283 Okay,

- Can you provide the output of running `ls -alh bootstrap/cache`
- Have you ran any other commands starting with `php artisan`, other than the migrate command?

[2022-08-16 14:41] raycastly commented on #3654
Gotcha, okay I will wait it out and see, thanks a quadrillion for the immense help, in any case we solved the base issue I had so I will close this now:D

[2022-08-16 14:41] #3654 closed, assigned to nobody

[2022-08-16 14:56] idx3d commented on #43
MD Import could be really great feature.
Thanks!

[2022-08-16 22:34] ssddanbrown commented on #43
@idx3d Our API does already accept markdown input, otherwise you could just paste stuff into the markdown page editor.

[2022-08-17 07:05] Stephan9283 commented on #3655
yes I ran the clear caches commands as well
php artisan cache:clear
php artisan config:clear
php artisan view:clear

ouput of ls -alh bootstrap/cache
insgesamt 348K
drwxr-xr-x 2 www-data www-data 4,0K 17. Aug 08:59 .
drwxr-xr-x 3 www-data www-data 4,0K 31. Jan 2022  ..
-rwxr-xr-x 1 www-data www-data   14 31. Jan 2022  .gitignore
-rwxr-xr-x 1 root     root     1,6K 17. Aug 08:59 packages.php
-rw-r-

[2022-08-17 09:57] ssddanbrown commented on #3655
@Stephan9283 Alright, looks like some optimizations/cache commands had been ran earlier this year to cache the routes which could cause this issue.

Please ensure any files within the `bootstrap/cache` path, that have a `.php` extension, are deleted.

[2022-08-17 11:06] kmpm commented on #2972
Probably related to issue #2945 as well.

[2022-08-17 12:12] Stephan9283 commented on #3655
Great! That solved my problem. Many thanks

[2022-08-17 12:12] #3655 closed, assigned to nobody

[2022-08-17 12:30] Nicks182 commented on #3119
I know this is a closed issue, but I've been struggling with the exact same issue and getting the exact same error message with a clean setup using the docker containers I pulled today. If I do a search for '1146' under issues quite a few pop up and they are all marked as closed.

Not sure if this is a bookstack issue or a issue with the containers, but the issue seems to still be there either way

[2022-08-17 12:45] ssddanbrown commented on #3119
@Nicks182

Likely related to https://github.com/linuxserver/docker-bookstack/issues/125

[2022-08-17 12:48] Nicks182 commented on #3119
I see... obviously it's a windows issue. We would host it properly on Linux anyway. Sorry to bother and thank you.

[2022-08-17 18:36] hctrr opened #3657 "Search exclusions based on Shelf membership"
### Describe the feature you'd like

When performing a search it returns results from all Shelves.

Shelf 1: Home -> Book: Recipes -> Page: Sugar Cookies
Shelf 2: Web Tech -> Book: Software -> Pages: Clear Browser Cookies
Shelf 3: Platforms -> Book: <Platform Name> -> Pages: Manipulating Cookies

I would like to exclude all results from the Home shelf but still see the results from Shelf 2 and 3.

[2022-08-17 19:45] ssddanbrown commented on #3657
Hi @hctrr,
Within the feature description and the benefits sections of this request are two different idea of what this is, so I'd just like to confirm exactly what you're after here. Here are two elements from your report:

The first request there is shelf-based exclusion, and I'm assuming you'd imagine that filtering all contents within that shelf, down to the page level?
The second request ther

[2022-08-18 04:42] hctrr commented on #3657
![image](https://user-images.githubusercontent.com/15852711/185292111-f8a3bdbf-0732-4951-b80e-8d54b8a06f8a.png)

in regards to the first item:

Based on the screenshot you can see i searched for "cookies". On the left side, it would be great to be able to exclude Shelf 1 (home) which would then exclude all its books and pages. The end results would be from Shelf 2 and 3.

In regards to the second

[2022-08-18 05:30] SantisTraining commented on #3640
@ssddanbrown
thx that is what i thought. im gonna check it out i guess we can close the ticket

[2022-08-18 05:30] #3640 closed, assigned to nobody

[2022-08-18 08:49] ssddanbrown commented on #3657
Okay, thanks for confirming, I have updated the title to specifically relate to shelf-based exclusions.

This kind of search would be more complex than existing filters, due to the nature of books being in multiple shelves and shelves having a looser relation to child contents. We don't have any kind of item-contents-based search filters yet so this also opens up the scope here to others.

[2022-08-18 10:23] reddexx opened #3658 "Deaktivate Bright/Dark Mode Switch"
### Describe the feature you'd like

Is it possible to disable the switch for the bright/dark mode?

![image](https://user-images.githubusercontent.com/6242840/185372704-69743a8f-a667-4d34-b001-5d2368e1a055.png)

### Describe the benefits this would bring to existing BookStack users

We not use the DarkMode from BookStack

Because it wasn't optimally designed

### Can the goal of this request alre

[2022-08-18 13:35] ssddanbrown commented on #3658
Hi @reddexx,
This would not be an option I'd look to build in, but you could hide the toggle buttons using our [methods of customization](https://www.bookstackapp.com/docs/admin/hacking-bookstack/).
Below is a quick "Custom HTML Head Content" hack that would do this, quickly tested on the latest release.

[code]

May not be applicable for future updates.

[2022-08-18 13:36] #3658 closed, assigned to nobody

[2022-08-18 14:08] user-4711 opened #3659 "An unknown error occurred - Call to undefined function Illuminate\Support\mb_strimwidth()"
### Describe the Bug

After upgrading to the latest version of Bookstack (from 21.05), all existing pages can't be openend.
Without debug mode there is just the message `An unknown error occurred`, with debug on I got the following:

[code]
[code]

[code]

If I add an /edit to the URL, I can see/use the page editor and all contents of the page without issue, but saving the page doesn't do anything

[2022-08-18 16:16] ssddanbrown commented on #3659
Hi @user-4711,
Can you double check you have the PHP mbstring extension installed.
This would usually be done by installing the `php7.4-mbstring` package.

[2022-08-18 18:54] uprightcarrion opened #3660 "Missing items after updating bookstack"
### Attempted Debugging

- [X] I have read the debugging page

### Searched GitHub Issues

- [X] I have searched GitHub for the issue.

### Describe the Scenario

After updating several things no longer show up on the webpage.  They are in the database and as far as I can tell the tables seem right.

For example here is the list of books in the table. But they don't show in my web page.  The user

[2022-08-18 19:54] uprightcarrion commented on #3660
The pages from the missing books are still visible under my user profile and i can view them.  When I view them and attempt to use the breadcrumb to access the book it says the book doesn't exist or I don't have permission to view it.  I can find a permission that could be causing it.  I own the books and I'm also setup with all the roles, admin editor, viewer, even public.

[2022-08-18 20:10] hctrr opened #3661 "Reusing Page Content - inlcude the content within the element"
### Describe the Bug

Including all the content from a page with {{@5}} works.

The current bug is when attempting to include the content within the element of the ID.
when entering the syntax: {{@202#bkmrk-copy-this-section}}
the end result will be text that simply reads "copy this section"

### Steps to Reproduce

Generate the Tag:
![image](https://user-images.githubusercontent.com/15852711/1854

[2022-08-18 20:21] ssddanbrown commented on #3660
Hi @uprightcarrion,
That is strange.

Can you try running the command `php artisan bookstack:regenerate-permissions` from your BookStack install folder, and let me know if that resolves things.

[2022-08-18 20:25] uprightcarrion commented on #3660
That worked! Thank you!

What do you think happened?

[2022-08-18 20:25] ssddanbrown commented on #3661
Hi @hctrr,

What you've described in the reproduction steps is what I'd expect.
The header and body text are two seperate sections, the content includes system only works on a single-section or whole-page basis, it does not support ranges. A request for ranges is already open in  #3267.

[2022-08-18 20:33] ssddanbrown commented on #3660
Access rights to content in BookStack is essentially cached via another table (`joint_permissions`). It's this that really controls visibility, at least for scenarios where items are shown as a list. That fact that work indicates this was out of sync with the actual permissions state.

Why that was, I'm not totally sure. There have been some heavy changes to the `joint_permissions` table, in the v

[2022-08-18 20:55] hctrr commented on #3661
understood. I'll leverage the syntax for the block of text.
thank you for your response.

[2022-08-18 20:55] #3661 closed, assigned to nobody

[2022-08-18 20:58] BloodyIron opened #3662 "SSO/SAML Avatar Sync"
### Describe the feature you'd like

LDAP has Avatar sync, and that's nice. But I'm not seeing that as a thing for SSO/SAML for Bookstack, but I believe it is technically possible. Can we please get Bookstack SSO/SAML to support Avatar sync from the IdP? I think it would be appreciated by users.

### Describe the benefits this would bring to existing BookStack users

A consistent experience for ra

[2022-08-18 21:10] ssddanbrown commented on #3662
Hi @BloodyIron, Thanks for the request.

When you mention `SSO/SAML`, Do you specifically mean something other that SAML when stating `SSO`?

When it comes to SAML, do you know of a widely agreed upon standard for avatar images? I remember looking before but not finding anything, but I'm not much of a SAML pro.

[2022-08-18 21:12] BloodyIron commented on #3662
I'm really talking about the method on this page : https://www.bookstackapp.com/docs/admin/saml2-auth/

I am not familiar with the options from a technical perspective here, but in similar vein to how LDAP pulls the Avatar attribute from user-sync, I suspect that same property is reachable via SAML. In my particular case, pulling from Google Workspace.

Not sure how to answer your question better

[2022-08-18 21:20] BloodyIron commented on #1631
Does draft-saving prolong the session here, or are drafts periodically saved automatically to avoid this dataloss? Can you advise on this @ssddanbrown ? It's a concerning topic.

[2022-08-18 21:22] ssddanbrown commented on #3662
Thanks for confirming those points.

Just done another quick search, for avatar data in SAML responses for Google and came up empty. I don't think image data in SAML responses is a common thing.

It would be possible to import an avatar from Google, by querying a seperate Google API (With a different kind of auth), but I wouldn't want to add anything that vendor-specific or additional-in-scope to

[2022-08-18 21:26] ssddanbrown commented on #1631
@BloodyIron I think drafts should autosave 30 seconds after any change IIRC. A draft save should prolong the session.
You could still get a session timeout scenario though if sitting on the edit view without changes.
If you then continued to edit then the next draft save attempt should show a warning regarding the expired session.

[2022-08-18 21:59] BloodyIron commented on #1631
@ssddanbrown thanks! I think those details would be worth putting on the Documentation page so that others can know that expected behaviour without having to dig for it. :) I'll have to test that behaviour ;)

Also, is SESSION_TIMEOUT in seconds or minutes? I see the env variable default to 120, but unsure units of measurement. (this being declared somewhere, the units, would also be helpful IMO)

[2022-08-18 22:04] BloodyIron commented on #3662
Yeah I myself would rather use a platform-agnostic method instead of one specific to Google, so I hear your concern on that. I'm probably just going to use LDAP then since that seems to be "standard" or so.

Before opening this ticket I did some cursory searches on the topic of SAML + Avatar sync, and it _seemed_ to be "standard"-ish, so it's a bummer that you couldn't find any way to do it with G

[2022-08-18 22:06] ssddanbrown commented on #1631
@BloodyIron

Minutes

[2022-08-18 22:14] BloodyIron commented on #1631
Thanks for clarifying @ssddanbrown !

[2022-08-18 22:15] BloodyIron commented on #1631
Also thanks for all your work on Bookstack and such! I really like it so far :D

[2022-08-18 23:24] uprightcarrion commented on #3660
I upgraded from 22.03

It's running on a Digital Ocean VPS, Ubuntu 20.04

I installed it using the composer method

This is the second time I've upgraded it, the first time no problems.

[2022-08-18 23:55] BloodyIron commented on #1235
Considering this original request was made Jan 2019, is this feature request on the roadmap in any way? I see that @ssddanbrown is active about closing dupes of this, so I'm hoping yes ;) Are there any roadblocks on this getting implemented?

[2022-08-19 11:33] user-4711 commented on #3659
the dist-upgrade earlier didn't install php7.4-mbstring, cause php-mbstring meta package wasn't there.
issue solved, thank you!

[2022-08-19 11:33] #3659 closed, assigned to nobody

[2022-08-19 14:42] chimin-roh commented on #778
(i'm korean and same problems occur)
I know this issue closed, but i'll post some info in the hopes it will help others in the future.
My bookstack version: v22.07.03

in\app\Entities\Tools\SearchRunner.php    about 222 line and 281 line

※ can find middle term
$query->orWhere('term', 'like', $inputTerm . '%');
to
$query->orWhere('term', 'like', '%'.$inputTerm . '%');

※ can sort correctly
$termQu

[2022-08-19 17:56] ryjogo commented on #1449
Yep, this is really needed.

[2022-08-20 09:31] sdhadi opened #3663 "Ability to copy book's permissions to chapters and pages."
### Describe the feature you'd like

The feature to copy shelves' permissions to books are already exist. It's useful to had it in book section and copy it's permissions to sub categories like shelves and pages.

### Describe the benefits this would bring to existing BookStack users

This would be a time saving feature. In a situation when admin wants to share just a book with too many shelves and

[2022-08-20 09:57] ssddanbrown commented on #3663
Hi @sdhadi,

Are you aware the book and chapter permissions auto-cascade to child content already?
Shelves specifically have a copy function only because we can't auto-cascade permissions in the same way due to a more complex relationship to books.

[2022-08-20 10:01] sdhadi commented on #3269
This is our problem/request too. This feature could be so useful because there are too many documents already exist in data warehouse of companies which they trying to implement in their Bookstack portal.
Viewing and even ability to search in the Word and Excel document with native Bookstack's search module  would be very useful. Some other DMSs and Wikis already has this feature. Copping contents

[2022-08-20 10:24] sdhadi commented on #3663
Hi @ssddanbrown ,
Now I do . I explained my  problem with a bad title.
My main problem was actually opponent of auto-cascade permission. I was in a situation which wanted to show just a book title (not it's contents) to certain roles. So it was favorable to have choice for auto-cascade permissions or not.
Tnx for your time and support

[2022-08-20 13:26] mhasgari commented on #3586
I've added the code, now the button exists and it seems fine, but when I attach a PDF, put its link inside the related form, save and try to view the newly created page, there is no PDF preview and just a download pops up and starts downloading the PDF file...
What should I do? Does it mean a package should be installed on the server or so?

[2022-08-20 21:02] kdkasad opened #3664 "Auto-fill URL portion of links in the Markdown editor"
# Describe the feature you'd like

When editing in the Markdown editor, it is possible to select some text and press <kbd>Ctrl</kbd>+<kbd>K</kbd> to turn that into a Markdown link.
The feature I want to propose is automatically filling in the URL portion when the selected text was a URL or domain.

## Example

The user types `See google.com for details`. They select `google.com` and press <kbd>Ctr

[2022-08-22 09:33] Skulli commented on #3104
For me it would be enough to be able to fetch all pages with their content. I would like to create a blog page. This pages lists all pages of an bookstack chapter with header and preview and click on details shows the full page.
Currently the api-call `pages`only gets you the title. If you want to show the content or preview, you have to make an api call for each page `pages/:id` and fetch that in

[2022-08-22 09:36] E60502 opened #3665 "How to create a new function in page-edit toolbar ?"
### Describe the feature you'd like

I want to add an editor like SVG-edit to the toolbar in page-edit.

### Describe the benefits this would bring to existing BookStack users

You can use the editor you used before using bookstack, such as Gantt chart, self-made editor, it will be more convenient.

### Can the goal of this request already be achieved via other means?

no

### Have you searched fo

[2022-08-22 10:44] ssddanbrown commented on #3665
Hi @E60502,

The underlying editor, and its toolbar, can be modified using some [custom events](https://www.bookstackapp.com/docs/admin/hacking-bookstack/#bookstack-editor-events) we emit.

See [my comment here](https://github.com/BookStackApp/BookStack/issues/705#issuecomment-1203691993) for an example which modifies the toolbar with an extra button.

Note, these options of extension are not full

[2022-08-22 12:26] reitbauer opened #3666 "API PUT methods don't accept mulitpart data, as required for some endpoints"
### Attempted Debugging

- [X] I have read the debugging page

### Searched GitHub Issues

- [X] I have searched GitHub for the issue.

### Describe the Scenario

I have tried to update the cover of a shelve with the API.
I use the Insomnia client for this.
If i send an "normal" put request with json data in the body, the update of name, description, books and tags works fine.
But if i send a mult

[2022-08-22 14:11] ssddanbrown commented on #3590
I done some deeper testing of this today, by creating a fresh RHEL-based install, and I can confirm this behaviour.
It seems to be caused by a non-UTF8 locale being used by BookStack, when the system default encoding for a locale is not utf8.
We can updated the behaviour to prioritise usage of utf8-based locales.
Have assigned to the next feature release and updated the title to align.

---

**Not

[2022-08-22 14:45] deadlypantsd opened #3667 "Recycle Bin Life"
### Attempted Debugging

- [X] I have read the debugging page

### Searched GitHub Issues

- [X] I have searched GitHub for the issue.

### Describe the Scenario

Is there a way to configure the life of items in the Recycle Bin?

"On each item you can choose to restore or permanently delete it as required. By default, Items deleted over 30 days ago may be automatically permanently deleted from the

[2022-08-22 15:36] 10935336 commented on #3667
Can be set in `.env`

https://github.com/BookStackApp/BookStack/blob/837fd74bf691129467361ce8066ba31f64408647/.env.example.complete#L300-L306

[2022-08-22 18:29] byPavel opened #3668 "Add code language 1C"
### Describe the feature you'd like

Добрый день. Хотелось бы добавить еще один язык программирования в редактор кода.

### Describe the benefits this would bring to existing BookStack users

Expand opportunities. A more beautiful interface

### Can the goal of this request already be achieved via other means?

I was looking for how to manually add a new language and style, but to no avail.

### H

[2022-08-22 19:10] ssddanbrown commented on #3668
Hi @byPavel,

I only really add languages that have official support from CodeMirror themselves, the underlying library we use.
There's already an open issue (#2057) to provide support for custom additions to the language set.
Otherwise, I will close this off for the above reasons.

[2022-08-22 19:10] #3668 closed, assigned to nobody

[2022-08-22 19:29] ssddanbrown commented on #3666
Hi @reitbauer,

All data can be updated from multipart data. For array items, it requires square bracket syntax to denote the array item index for the relevant keys. Here's a view from a working test I did in postman, showing the data value names used:

![Screenshot from 2022-08-22 20-24-32](https://user-images.githubusercontent.com/8343178/186002815-c032b8e3-3ae2-4214-adad-2e38034959d7.png)

Here

[2022-08-23 05:50] E60502 commented on #3665
@ssddanbrown let me try, thanks.

[2022-08-23 09:05] shinobi31337 opened #3669 "An Error Occurred An unknown error occurred while adding new user"
### Describe the Bug

When was trying to add new user by the link https://www.bookstack.fbi.ie/settings/users got the error message:

An Error Occurred An unknown error occurred while adding new user

### Steps to Reproduce

1. go to https://www.bookstack.fbi.ie/settings/
2. click to Users
3. Enter user details
4. click save

### Expected Behaviour

An Error Occurred An unknown error occurred whil

[2022-08-23 09:21] ssddanbrown commented on #3669
Hi @shinobi31337,
Please check your error log file to find the cause of the error:
https://www.bookstackapp.com/docs/admin/debugging/

[2022-08-23 09:21] ssddanbrown commented on #3665
Will therefore close this off.

[2022-08-23 09:21] #3665 closed, assigned to nobody

[2022-08-23 09:33] ssddanbrown commented on #3651
Sorry for the late response. I still cannot reproduce this. I think it's likely that certain webserver-level config is affecting things here.

Can you provide a full view of the cookie and header tabs for a failing image, obfuscating any key values within?

[2022-08-23 09:34] ssddanbrown commented on #3602
Since there's been no follow-up or progression here, I'll close this off.

[2022-08-23 09:34] #3602 closed, assigned to nobody

[2022-08-23 09:35] michaelortnersanube opened #3670 "File not found. Docker with Portainer"
### Attempted Debugging

- [X] I have read the debugging page

### Searched GitHub Issues

- [X] I have searched GitHub for the issue.

### Describe the Scenario

If i want to visit the wiki page, there is coming a error named "File not found" i don't know why he says this, and don't found any erros. Maybe someone can help

### Exact BookStack Version

v22.07.3

### Log Content

_No response_

###

[2022-08-23 09:41] ssddanbrown commented on #3670
Where are you seeing this error? Can you provide a full view (or screenshot) of this error you see?

[2022-08-23 09:43] michaelortnersanube commented on #3670
If i visit directly the site, as a example wiki.example.com

There is the screenshot:
![image](https://user-images.githubusercontent.com/96595501/186126853-452e7a3b-62e3-4420-9aaf-8a84ccb92fe7.png)

[2022-08-23 09:45] michaelortnersanube commented on #3670
Here is a error from following location: bookstack/log/nginx/error.log

2022/08/23 09:43:49 [error] 214#214: *1 FastCGI sent in stderr: "Primary script unknown" while reading response header from upstream, client: 172.18.0.2, server: _, request: "GET / HTTP/1.1", upstream: "fastcgi://127.0.0.1:9000", host: "wiki.example.at"

[2022-08-23 09:49] michaelortnersanube commented on #3670
I found on storage/logs/laravel.log something new:

![image](https://user-images.githubusercontent.com/96595501/186128099-ac9fa9ec-3dce-4632-8695-b4f32d480191.png)

[2022-08-23 09:50] ssddanbrown commented on #3670
Hi @michaelortnersanube,
That message is quite old.

Is this a previously working BookStack instance that has failed upon upgrade?

[2022-08-23 09:52] michaelortnersanube commented on #3670
Hello,

yes. I have upgraded the docker container from 22.07.02 to 22.07.03 and now it doesn't work. I have take another image, but same error.

[2022-08-23 10:14] ssddanbrown commented on #3670
The linuxserver container did receive [some updates](https://github.com/linuxserver/docker-bookstack/commit/32df06d2ab1a84430f5577c5cd4adb81f4554195) recently which could be causing issues with your existing files/config.
I did upgrade a couple of older version setups (albeit from this year) on my machine without issue.

Did you make any changes to the `nginx/site-confs/default.conf` file at all?

[2022-08-23 10:19] michaelortnersanube commented on #3670
Maybe i am stupid, but in the container the folder site-confs doesn't exist

![image](https://user-images.githubusercontent.com/96595501/186134078-47ca765a-e14a-4094-8469-bd59cb5264c3.png)

[2022-08-23 10:29] michaelortnersanube commented on #3670
ah i found it now, it is under config/nginx/site-confs/, my wrong. Here is the content

![image](https://user-images.githubusercontent.com/96595501/186136065-1126c2f4-20df-4b9a-92ad-965565f62821.png)
![image](https://user-images.githubusercontent.com/96595501/186136094-1052efb5-fd9f-460e-a66d-ea1662aa5f19.png)

[2022-08-23 10:38] ssddanbrown commented on #3670
That matches what I have.
- Any other files in the `site-confs` folder?
- What architecture are you running on? x86_64 or ARM64?
- What is the output of running `ps -aux | grep php` within the container?

[2022-08-23 10:41] michaelortnersanube commented on #3670
Thank you for the information. For your questions i have posted you some screenshots, i hope this help you to find out where my problem is :)

![image](https://user-images.githubusercontent.com/96595501/186137991-bb60346d-47c2-487f-a23a-8789fc5170d5.png)
![image](https://user-images.githubusercontent.com/96595501/186138180-1648e859-a1cd-40fc-8969-9c4b1099db40.png)
![image](https://user-images.gith

[2022-08-23 10:42] michaelortnersanube commented on #3670
btw i am back to the version 22.07.2, where it has worked, but same problem

[2022-08-23 10:45] ssddanbrown commented on #3670
@michaelortnersanube Ah, I was going to say much of the values in those screenshots don't look right for the latest version.
I think jumping back to older versions will confuse things. The new container versions makes changes upon update to paths, which then won't match for older versions.

[2022-08-23 10:47] michaelortnersanube commented on #3670
Ah that was not good. So have you any idea how i can fix this problem maybe?

[2022-08-23 10:54] ssddanbrown commented on #3670
Not really, since we still don't know the exact cause of the problem.
It's likely some paths did not align after update, or some extra config is causing interference. Likely on the apache or php side of things. I'd focus on getting the new setup working.

As a last resort, **_after a backup of all files_**, you could always remove your existing bookstack volume files, start the container, then sto

[2022-08-23 10:58] michaelortnersanube commented on #3670
Hello you mean i should make a backup of this files:
![image](https://user-images.githubusercontent.com/96595501/186141328-813a03df-5712-49cb-92a1-02d977516180.png)

then delete all these files and the volumes of bookstack. database container too? The i should recreate the bookstack and upload all the content from the folder www back to the folder www, right?

[2022-08-23 11:02] ssddanbrown commented on #3670
Yes but **_do not delete the database data or container_**, the database should be fine here. If that `DB` folder is your database files, leave that (I'd generally avoid sharing mounted volume folders like that).

[2022-08-23 11:09] michaelortnersanube commented on #3670
So step by step,

i copy the folder bookstack to bookstack-backup, then i remove the content from bookstack without the DB folder. Then i stop the container of bookstack, remove the volumes and then start it. Then i stop it again, cp the content of www to the new bookstack www

Thanks for help, but i want to make sure that i am 100% sure and make all right :)

[2022-08-23 11:12] ssddanbrown commented on #3670
Yeah, I'd personally backup the original files to another system first, to be sure they're safe.

[2022-08-23 11:22] michaelortnersanube commented on #3670
Hello,

i have made all of this, now it works, but the images are not loading, have i to upload them all my self or have i maybe something forgot to cp back to the new?

![image](https://user-images.githubusercontent.com/96595501/186145837-55d6b7d1-5cef-4d73-a793-5e8f3836641e.png)

[2022-08-23 11:24] michaelortnersanube commented on #3670
And maybe some other feedback:

I have set the linuxserver/bookstack image to latest, if i go to /var/www/html the folder is empty without the public folder. So i have reacreate all things back and set the image to 22.07.2, then all content was back in the folder

[2022-08-23 11:36] michaelortnersanube commented on #3670
i think maybe problem with the rights or the owner?
![image](https://user-images.githubusercontent.com/96595501/186148219-8849278a-078d-425b-b24c-5585013bbf36.png)

[2022-08-23 11:41] michaelortnersanube commented on #3670
My wrong, now working Sorry.

[2022-08-23 11:42] #3670 closed, assigned to nobody

[2022-08-23 12:04] thejezzi commented on #2884
I also would love to have this feature. Would make my life a lot easier and faster! :)

[2022-08-23 12:25] shinobi31337 commented on #3669
Hi ssddandbrown,

the nginx error log is showing:

<details>

[code]

</details>

Laravel log: https://pastebin.com/K75bzf3c

With Regards,
Andrei.

[2022-08-23 13:24] ghost commented on #2528
+1 for this feature. Would be really nice to have.

[2022-08-23 14:15] mrcompsci commented on #3644
@ssddanbrown Do you have any suggestions for troubleshooting this further?

[2022-08-23 15:07] ssddanbrown commented on #3669
This looks to just be down to invalid email configuration.
Please configure your SMTP details within you `.env` file. There's the ability to send a test email within the "Settings > Maintenance" section of BookStack for rapid testing & validation.

[2022-08-23 15:13] ssddanbrown commented on #3644
@mrcompsci Sorry for lack of response.
Seems to be some misalignment in understanding the parent location.
Would be good to know what's going on there.

Where you placed the previous debug line, could you instead add the following:

[code]

[2022-08-23 16:09] ssddanbrown commented on #3666
Within 760eff397f51e1bb616202dc6a8561ea52bac3a8 I have expanded the API docs to explain the format for more complex data structures using non-JSON requests formats to help clarify the above for future API users.

[2022-08-23 16:10] JoeIzzard opened #3671 "[Feature Request] Included blocks of content fall back"
### Describe the feature you'd like

I am using the method outlined in #978, protecting pages and including them to give protect blocks of content still within the flow of an existing page, for example for admin info.

It would be great for somethings to be able to specify a fallback for a block of content so that if the included protect content can't be displayed because of permissions, we can le

[2022-08-23 16:11] ssddanbrown commented on #3652
Within 760eff397f51e1bb616202dc6a8561ea52bac3a8 I have now updated the "Request Format" section to clarify things to help avoid confusion in future. I will therefore close this off.

In regards to the chapter id, yeah, there is some misalignment currently for requests/responses, since BookStack internally uses `0` to denote lack of relation but the API expects `null` from users.

[2022-08-23 16:11] #3652 closed, assigned to nobody

[2022-08-23 16:17] ssddanbrown commented on #3671
Thanks for the request @JoeIzzard.

I'm hesitant to add features & grow the complexity of the include system since it's really a lesser know element meant for primarily for some power-user scenarios.

As an alternative, I'm thinking we could maybe offer a [logical theme system](https://github.com/BookStackApp/BookStack/blob/development/dev/docs/logical-theme-system.md) event within the include sys

[2022-08-23 16:21] mrcompsci commented on #3644
@ssddanbrown

[code]

[2022-08-23 16:40] ssddanbrown commented on #3644
Thanks for the info @mrcompsci, interesting result.

I get the impression your environment may be using an older PHP/MySQL driver that's rarely used.
Within CPanel, do you have options for the PHP MySQL driver, or do you have mulitple options for mysql-related PHP extensions?

[2022-08-23 17:53] shinobi31337 commented on #3669
we fixed it, thanks! it was unclear in the log files though.

[2022-08-23 17:54] ssddanbrown commented on #3669
Good to hear, will therefore close this off.

[2022-08-23 17:54] #3669 closed, assigned to nobody

[2022-08-23 18:03] mrcompsci commented on #3644
@ssddanbrown There are a few MySQL options in cPanel:

mysqli
mysqlnd  (enabled)
nd_mysqli  (enabled)
nd_pdo_mysql
pdo_mysql  (enabled)

[2022-08-23 18:07] ssddanbrown commented on #3644
Could you try swapping those around? So disable `pdo_mysql` and enable `nd_pdo_mysql`.
Then restart apache/php (if possible) and see if that fixes things.

[2022-08-23 18:56] Android1338 opened #3672 "Lists next to floated images lose nesting indentation"
### Describe the Bug

If I have text with a list beside of an image, the list entries will not change their positions at "Test #1", but in an exported PDF or Markdown file it works.

Please see attachment.
1. List with problems beside of an image.
2. List without problems with no image.
![problem](https://user-images.githubusercontent.com/29342292/186241447-428b057c-1d1d-4b59-b42a-d3f059324cfb.png

[2022-08-24 01:09] mrcompsci commented on #3644
Disabling pdo_mysql and enabling nd_pro_mysql worked.   Sorting is working properly now and it doesn't look like the change created any new issues.   I never would have guessed that the MySQL driver needed to be changed.   Thanks for your help!

[2022-08-24 04:44] HungryHowies commented on #3666
@ssddanbrown   Thanks for the  cURL command  I was  banging my head trying to figure this out 👍

[2022-08-24 09:32] JoeIzzard commented on #3671
For us the inclusion system has little value beyond restricting content, we do use it for pure inclusions too but primarily access restriction.

The ability to do more of that through the logical theme system would definitely be a really good step although to me feels more like a plugin system, is that what the logical theme system is? It seems from what you linked to to do a lot of 'plugin' style

[2022-08-24 09:38] JoeIzzard opened #3673 "[Bug] Nested inclusions broken"
### Describe the Bug

Page A is a main page.

Page B is a secondary page.

Page B has inclusion tags to include Page C

Including Page B into Page A, with the nested inclusion of Page C results in the Page C inclusion not being rendered.

### Steps to Reproduce

1. Create a Page (C) with content
2. Create a Page (B) with some content and the inclusion of Page C
3. Create a page including Page B

#

[2022-08-24 10:02] MrMKJ commented on #3651
Hi @ssddanbrown

Thanks again for getting back to me on this issue!

Here are the headers & cookies tab screenshots you requested...

![TestImage_Headers](https://user-images.githubusercontent.com/40501541/186389370-42acd1b7-f812-4fa2-b1e1-951c61d6cdf7.png)

![TestImage_Cookies](https://user-images.githubusercontent.com/40501541/186389419-227e35fe-4558-4559-8c35-03e6516f35e3.png)

[2022-08-24 10:13] MrMKJ commented on #3651
Additionally, as I didn't include it earlier, here is the nginx config...

[code]

I normally use the default Apache/php7.4 image, but this can be problematic for some Laravel apps, as it relies solely on htaccess files for the /public folder redirect, and offers no coinvent way of re-writing the the apache site config files - with the nginx/php8 image this can be achieved with a start-up script t

[2022-08-24 10:57] ssddanbrown commented on #3651
Can't see anything wrong in the above. Thought it could be something specific to the nginx/php handling but I copied the config to my own environment and could not reproduce the issue.

Running out of ideas, almost feel like the connection is being dropped azure side before data is sent.
Could you maybe show the "Timing" tab for a non-working image request? Just to maybe get an idea of what might

[2022-08-24 11:03] ssddanbrown commented on #3644
Great news! Will therefore close this off.
Must admit, I didn't think the non-native driver was in use any more.
I'll keep an ear out though and, if this pops up again, maybe update the docs to specific driver version.

[2022-08-24 11:03] #3644 closed, assigned to nobody

[2022-08-24 11:06] ssddanbrown commented on #3673
Nested page inclusions are not currently a supported feature. There's already a request for this open within #2845 so I'll therefore close this off.

[2022-08-24 11:06] #3673 closed, assigned to nobody

[2022-08-24 11:07] JoeIzzard commented on #2845
+1 for this

[2022-08-24 16:53] reitbauer commented on #3666
@ssddanbrown: Thanks for the answer. To create a new book it works fine. But the update doesn't work:
<img width="1218" alt="image" src="https://user-images.githubusercontent.com/31218726/186477071-1619f627-ebbd-42e3-b6be-ff5bf86232af.png">

Steps I have done:

1. Create a new shelve
2. Get back the id 6
3. Change the request from POST to PUT, add /6 and change the name
4. The response from the up

[2022-08-24 18:49] ssddanbrown commented on #3666
@reitbauer You are very correct there. Surprised I have not come across this but think I must have only tested mulitpart PUT data from our app API tests, not externally.

This traces back to a PHP & framework limitation. For multipart and urlencoded POST data it's PHP itself that does the decoding of data. Annoyingly it specifically only does this for POST requests, not other HTTP verbs. The frame

[2022-08-25 01:22] Zhengyueewee2e opened #3675 "could user login， when user‘s group is in the LDAP_BASE_DN，but user outside the LDAP_BASE_DN？"
### Attempted Debugging

- [X] I have read the debugging page

### Searched GitHub Issues

- [X] I have searched GitHub for the issue.

### Describe the Scenario

BookStack Version: v22.07

my .env profille
![image](https://user-images.githubusercontent.com/40627010/186552545-60bc9a46-843a-4690-8950-4b2611f1f92a.png)

I have created role
![image](https://user-images.githubusercontent.com/40627010/

[2022-08-25 04:18] nasmi3 commented on #3667
I added a section describing the options on the page Admin Documentation > Other Configuration > .env Options and submitted a PR

[2022-08-25 09:33] ssddanbrown commented on #3675
Copying my response from the same issue posted on [the website repo](https://github.com/BookStackApp/website/issues/126#issuecomment-1225500837):

The group sync does not control user access to login, it's somewhat unrelated although group discovery may be affected by `LDAP_BASE_DN`.

`LDAP_BASE_DN` will affect the discovery of users and groups since searchers will be performed using this DN as th

[2022-08-25 09:56] ssddanbrown commented on #3667
Thanks @nasmi3!

This has now been added to the docs, as per PR https://github.com/BookStackApp/BookStack/issues/3667, so I will close this off.
These additions can be seen here:
https://www.bookstackapp.com/docs/admin/other-config/#recycle-bin-lifetime

[2022-08-25 09:56] #3667 closed, assigned to nobody

[2022-08-25 10:15] ssddanbrown commented on #3662
I'm going to close this off since I don't see this moving forward without clear indication of a current user need that is possible for that environment and aligns with a standard or is common across SAML providers. I did search again but came up relatively empty.

Happy for further input to be provided and this can be re-opened if needed, otherwise don't want an extra issue hanging around if there

[2022-08-25 10:15] #3662 closed, assigned to nobody

[2022-08-25 10:15] tlhogan commented on #2679
I too would like to see a way to change the numbering.  It would be nice to have a code clock with a section of code and be able to add some notes about that section.  Then continue with another code block with the rest of the code starting with the higher number to indicate that the second block is a continuation of the one above.
Just wanted to add my vote for this feature.

[2022-08-25 10:18] ssddanbrown commented on #3004
Now merged, will be part of the next feature release

[2022-08-25 10:18] #3004 closed

[2022-08-25 10:22] ssddanbrown commented on #3660
Thanks for confirming those details.
Since this is solved I'll close this off but I'll keep this in mind to see if this becomes common at all, and those details will help see any patterns.

[2022-08-25 10:22] #3660 closed, assigned to nobody

[2022-08-25 10:26] ghost commented on #1691
This would be a really nice feature.
Using roles is not feasible imho as you would have to add/remove the role if you wanted to look at the archived articles.

A simple "don't include this in search results" would be a way to "archive" articles in a book of your choice.

[2022-08-25 21:26] BloodyIron opened #3676 "Documentation Improvement : Link to LDAP for Avatar/image fetching as second method"
### Describe the feature you'd like

On this page : https://www.bookstackapp.com/docs/admin/other-config/

I think it would be worthwhile to mention that an alternative method for Avatar/image fetching is the LDAP method (and link to it) that is already documented elsewhere for Bookstack. I think this would help inform those looking to use Bookstack that may not realise this is a feature of LDAP.

[2022-08-25 21:30] BloodyIron opened #3677 "Ability to turn off "Books on multiple shelves" feature"
### Describe the feature you'd like

From a security perspective, it is concerning to me that Books can exist on multiple shelves, and I think it would be nice to have this feature turned off.

There are times where sensitive information needs to exist only one one shelf (for example, the IT Security shelf) and the ability to conclusively block books from being visible from other Shelves with diff

[2022-08-25 21:36] BloodyIron opened #3678 "System-Wide/Granular enable/disable for "Reusing Page Content" feature (plus audit?/tracking?)"
### Describe the feature you'd like

This is regarding : https://www.bookstackapp.com/docs/user/reusing-page-content/

While this feature is mad lad cool, and I could see being mad useful in a lot of scenarios, it also presents IT Security problems. In that, I am not seeing a way to see when content is referred in this way, and where. Plus also not seeing a way to limit/disable this feature, at va

[2022-08-25 21:38] BloodyIron commented on #3609
@ssddanbrown would it be possible to have webhooks serve this function? In that, it says "this user" read "this page" (after they read the whole thing or something?), as in... not on comment events, but read page events?

This may be already achievable... ish...

[2022-08-25 21:40] BloodyIron commented on #3649
Perhaps use the docker images to streamline deployment and updates? That's the route I've gone down. Might work for you @bridgeyuwa

[2022-08-25 21:41] BloodyIron commented on #3638
This would definitely be beneficial where I'm at. I suspect this would be for many.

[2022-08-26 19:54] danhansen commented on #1265
Why not integrate something like https://github.com/recogito/recogito-js ? It looks like a significant portion of the functionality is already implemented.

[2022-08-26 19:57] danhansen commented on #3350
What about integrating something like https://recogito.github.io/annotorious/ ? It looks like a substantial amount of functionally is built in.

[2022-08-26 20:46] dzitzels1 opened #3679 "Announcement Banner"
### Describe the feature you'd like

System Announcement Banner

### Describe the benefits this would bring to existing BookStack users

I have a large group of users that are global.  Unfortunately, we don't fit into a single Slack channel (due to different geographies, job functions, and working hours), the e-mail distribution list would be quite large and cumbersome, and our users tend not to u

[2022-08-28 11:00] ssddanbrown commented on #3679
Thanks for the request @dzitzels1. PR #2730 was revered and removed by the author so I wouldn't look to develop that further, so I'll remove reference to that in this issue title.

- Where would need such a banner to be visible for your usage? Just on the homepage? Across all views?
- The described benefits lists a variety of uses which makes this a little more difficult to fix to a specific use-c

[2022-08-28 11:13] ssddanbrown commented on #3678
Hi @BloodyIron,

Just to confirm the functionality of content includes, these are handled dynamically as page-view time and reference content should only become included if the viewer has the ability to view the page where the referenced/included content is sourced from.

The content include system is really something I don't want to expand the scope of, being a lesser known power-user feature, es

[2022-08-28 11:33] ssddanbrown commented on #3677
Thanks for the request @BloodyIron.

Personally, I would not be keen to implement this due to the conditional complexity this would introduce.
Additionally, the described benefits details the satisfaction of a specific IT team, which in reality is subjective and often business-case specific.

There are some alternatives to achieving this:
- You could simply not use shelves, via removing shelve per

[2022-08-28 11:40] ssddanbrown commented on #3676
Thanks for the request, but I won't add this to the docs just yet.
The usage of LDAP avatars would already likely be noted when reading through the LDAP docs, and auth method is usually driven be auth preferences rather than avatar existence.

I'll therefore close this but keep it in mind, and we can always add the additional note/tanget to the docs if it becomes a common query.

[2022-08-28 11:40] #3676 closed, assigned to nobody

[2022-08-28 15:16] Mailstorm-ctrl opened #3680 "Inherit parent permissions (Books and Shelves)"
### Describe the feature you'd like

Basically [#1932](https://github.com/BookStackApp/BookStack/issues/1932) but expanded.

It would be really nice if you could specify when creating a page in a shelf to inherit the permissions of the shelf it's being made in.

For example, you have two roles.

`ROLE 1`
`ROLE 2`

You also have 2 shelves.

`SHELF 1`
`SHELF 2`

You configured it so that only `ROLE

[2022-08-28 23:04] jediblair opened #3681 "links created to http targets are automatically converted to https on page save"
### Attempted Debugging

- [X] I have read the debugging page

### Searched GitHub Issues

- [X] I have searched GitHub for the issue.

### Describe the Scenario

Hi,

Using the wysiwig tinymce editor, when editing a page and adding a link to a http:// target, upon saving the page, the link is automatically converted to a https:// target.

Just wondering if there is any way to configure this behav

[2022-08-29 00:48] BloodyIron commented on #3678
Is this how it works currently? Am I reading this correctly?

[2022-08-29 01:34] Mailstorm-ctrl commented on #3678
I just confirmed this. ~~If you want to reuse page content, the user making the page needs at the very least read/view permission on the specific page/pageid. If they don't have view/read then nothing shows up in the page.~~

~~I haven't confirmed if different users looking at a page that has a reuse tag can/cannot see content depending on their permissions. I only confirmed that if a user doesn't

[2022-08-29 02:12] Mailstorm-ctrl commented on #3609
Yes...but not in bookstack. Bookstack is not meant to be a compliance tool (what this request is requesting). If you wanted to track if someone read a page you could do the following:

1. Create a webhook for when a user registers (auth_register)
2. Have a separate program read webhook data and send it to your actual compliance software. This can be done via middleware.

[2022-08-29 07:35] DimS1872 opened #3682 "Autosave of the draft does not work after editing the diagram Draw.io"
### Describe the Bug

If you'll change something on the page, at least one letter, then autosave occurs after 30 seconds.

However, if a Draw.io diagram is embedded on the page, system does not notice changes in it, and autosave does not occur automatically.

The problem is that if the diagram has changed and the page has not been saved, then when the session ends, all changes in the diagram will

[2022-08-29 09:44] E60502 commented on #3665
Are BookStack Editor Events custom in Custom HTML Head Content? I just start to learn this.

[2022-08-29 12:19] ssddanbrown commented on #3682
Hi @DimS1872,
Thanks for reporting but I have not been able to re-produce this.
I have tested with both the WYSIWYG and Markdown page editor.
Are you able to re-produce this on our [demo site](https://demo.bookstackapp.com/books/bookstack-demo-site/page/logging-in-to-the-demo-site)?

[2022-08-29 12:23] ssddanbrown commented on #3681
Hi @jediblair,
I have not been able to re-produce this scenario.

- Does this occur for all links? For example, does it occur for `http://example.com`?
- Do you have any browser plugins installed or perhaps any browser features enabled that may force use of https? This is quite common in privacy-focused extensions/browsers.

[2022-08-29 12:25] ssddanbrown commented on #3665
@E60502 They can be used with any method to add custom JavaScript, but yes, the "Custom HTML Head Content" setting is the main way to add code for these events.

[2022-08-29 12:28] DimS1872 commented on #3682
Hi @ssddanbrown,
Yes, this is reproduced on the demo site.

[2022-08-29 12:34] jediblair commented on #3681
Yeah, seems to happen for all links.
Initially when you add the link it shows as http:// , even in the source code view.
When the page is saved it changes to https. Have tried on various browsers, same issue, no plugins.
FWIW I've just recently upgraded from 0.31 , it was happening back on that old version also. so I may try a clean install of 22.07.3 and see if that helps.

[2022-08-29 12:39] ssddanbrown commented on #3681
A clean vs non-clean instance shouldn't really affect things, unless core app files have been edited.
You could test this on [our demo site](https://demo.bookstackapp.com/books/bookstack-demo-site/page/logging-in-to-the-demo-site) and see if the issue occurs there too.

[2022-08-29 12:42] ssddanbrown commented on #3682
Strange. Updated Firefox to 104, to be on the same version, and tested this on our demo site. The draft saved as expected after image edit.

Not really sure where to take this since I have not been able to reproduce the issue.

[2022-08-29 12:52] ssddanbrown commented on #3609
The scope of where I want to track audit/webhook events is fixed to change actions, I don't want to introduce passive actions (read events) to these systems.

Since this is a feature really intended to serve business process, rather than the benefit of BookStack itself, I'm going to close this off as out of scope.

[2022-08-29 12:52] #3609 closed, assigned to nobody

[2022-08-29 12:55] ssddanbrown commented on #3678
Yeah, That aligns with my expectation. Of course a user could export/print/copy-paste restricted content and send it to a user without permissions, but you generally have that problem with any permission-controlled content, this just introduced a slightly more dynamic layer.

[2022-08-29 13:07] ssddanbrown commented on #3680
Thanks for the request @Mailstorm-ctrl, But I feel the core fundamental request here may already be covered by #1596

[2022-08-29 16:59] ssddanbrown opened #3683 "Reference Link Change Handling - Missing book child item handling"
Within the newly implemented reference link handling, we're missing handling of cases of updating references to book-children.
When a book link changes, we need to updated references of pages and chapters within, not just the content directly references a book.

[2022-08-29 18:31] reitbauer opened #3684 "Query the permissions of the logged-in user via the API"
### Describe the feature you'd like

It will be great if it's possible to get the permissions of the logged-in user.

### Describe the benefits this would bring to existing BookStack users

Without this information you have to send e.g. an shelf update request and if the user doesn't have the permission, you have to show him an error.

### Can the goal of this request already be achieved via other

[2022-08-29 18:49] DimS1872 commented on #3682
I will pay attention once again:
Step 5 Click Save in the Chart editor.
After that, the diagram is saved in the draft of the page.
We don't save the draft.
We are waiting for the end of the session.
Log in again.
Open draft editing again.
We will see that the updated diagram is lost, the previous version of the diagram has been restored.
If you look at the folder .../uploads/images/drawio/2022-08/

[2022-08-29 18:56] ssddanbrown commented on #3682
Hi @DimS1872,
Do you have to wait for the session to expire? If so, were you definitely able to re-produce this on our demo site?
I ask because you generally wouldn't have been able to wait for the session to end during the demo reset time, therefore I don't understand how you reproduced the issue on our demo site.

[2022-08-29 22:55] jediblair opened #3685 "Numbered and Bullet point indented lists display oddly when using multiple levels of indentation"
### Describe the Bug

When using multiple levels of indent in numbered or bullet lists, where we jump an extra indent level from the previous line,  we seem to see excess bullet/numbers leading up to the indent.

This behavior seems to occur on the sandbox environment.

### Steps to Reproduce

add a multiple level bullet point list, skipping one of the levels of indent, and it will show excess bul

[2022-08-30 03:08] geniusshiun opened #3686 "Markdown file export and import"
### Describe the feature you'd like

It's a great service.
I can export book by markdown format.
Can I import book by markdown format file?

### Describe the benefits this would bring to existing BookStack users

Create book faster.

### Can the goal of this request already be achieved via other means?

No?

### Have you searched for an existing open/closed issue?

- [X] I have searched for existi

[2022-08-30 03:15] dzitzels1 commented on #3679
Hey Dan, sorry but I didn’t get a chance today to work on this.  I had a
couple of high priority issues arise.  I should be able to get to this in
my morning time tomorrow (GMT -6).

Thank you,

Doug.

On Sun, Aug 28, 2022 at 05:00 Dan Brown ***@***.***> wrote:

--
Doug Zitzelsberger, AWS CCP
(801) 341-9157
***@***.***

https://www.certmetrics.com/amazon/public/badge.aspx?i=9&t=c&d=2020-01-06&ci=A

[2022-08-30 03:26] stevo-king opened #3687 "Search in Chinese/non-english need to be start of the sentence"
### Describe the Bug

I have created some books and page in my bookstackapp, when I search in english, it is working perfectly, the search result return a lot of thing, which is very good for knowledge base apps.

But when I search in chinese charater, it got some problem.  E.g., I have a book page with title of "如何製作form 1a/form 1c?". The below is the search result:
Search term: 製作 result: No sea

[2022-08-30 07:16] DimS1872 commented on #3682
Hi @ssddanbrown ,
After logging into an account on a demo site, you need to open another browser tab with a demo site. It will have the same session.
Edit and save the diagram (but not save the draft) in the first tab.
Wait a minute in the hope that a "save-draft" request will be sent. (But this will not happen)
Go to the second tab and log out of the account in it. The session will end for both t

[2022-08-30 07:41] npankaj365 commented on #1464
For anyone wanting to loading PDF on side, I created the following snippet that implements what @ssddanbrown has shared.
Sharing it here for reference if anyone's struggling. Placing this inside Custom HTML Head Content does the job.
[code]

[2022-08-30 09:23] brynmoorhouse opened #3688 "Improve documentation/add-clarification around the storage options and thier permission enforcement, including notice on roles view"
### Attempted Debugging

- [X] I have read the debugging page

### Searched GitHub Issues

- [X] I have searched GitHub for the issue.

### Describe the Scenario

This is possibly me misunderstanding the feature, or it might be a bug, but I've enabled the following in my .env
`STORAGE_TYPE=local_secure`
I've verified that all images are being uploaded to storage/uploads (outside the public directo

[2022-08-30 09:25] sdhadi opened #3689 "Changing translation of a word in search section [Persian language]"
### Describe the Bug

I'm not sure where reporting of  an inaccurate translation should be reported, so I raised it as a bug report.
Translation of the word "Shelf" in Persian language is "قفسه" which have been used in every section of the software but not in the search menu.
Below the search bar are four checkboxes that limit search phrase to shelf/book/chapter and page. In the Persian language,

[2022-08-30 09:55] E60502 commented on #3665
@ssddanbrown Thank you for your reply.
Then if I want to import the application I want to use in the button I added, where should I put the code folder of the application I want to import?
And this code `window.addEventListener('*', event => console.log('*', event.detail));`
What do I import in ' * ' ?

[2022-08-30 12:08] 10935336 commented on #3689
Translations are maintained by the community, you can participate in maintaining translations at https://crowdin.com/project/bookstack

[2022-08-30 12:20] ssddanbrown commented on #3682
Hi @DimS1872,
I'm still not able to reproduce this on our demo site.
The "save-draft" request always gets sent after saving the diagram.

- Do you see any errors in the developer console log after editing the diagram and waiting?
- Is the "save-draft" request sent if you add some text after saving the diagram?

[2022-08-30 12:28] ssddanbrown commented on #3685
Thanks for reporting @jediblair.

I can confirm there's currently a difference between display of this in-WYSIWYG editor and on page-view which I'd see as the primary issue here.

Not totally sure what the correct display of multi-level nesting should be, think there's an argument to still show other list markings, but force nested levels to their own line. Will need to play with other platforms a

[2022-08-30 12:33] ssddanbrown commented on #3665
There's no ideal place within BookStack right now to add additional assets. You'd have to use a CDN link for your library, or host in yourself in some public web space, or embed the code directly into BookStacks extension options.

If editing the tinymce config you'd typically want to use `window.addEventListener('editor-tinymce::pre-init', eventHandler);`.
If you wanted a much simpler example of

[2022-08-30 12:37] ssddanbrown commented on #3689
Hi @sdhadi, Thanks for raising but as @10935336 has mentioned, translations can be managed via Crowdin. More details can be found in the [translations section of the readme](https://github.com/BookStackApp/BookStack#-translations).

Feel free to contribute changes via Crowdin, but it may be worth waiting a week or so since I'll soon be updated some of the shelf translations texts to address #3553.

[2022-08-30 12:37] #3689 closed, assigned to nobody

[2022-08-30 12:45] ssddanbrown commented on #1464
I'm going to go ahead and close this off as the agreed upon implementation, [as per my comment above](https://github.com/BookStackApp/BookStack/issues/1464#issuecomment-496200398), [was essentially added as of v22.06](https://www.bookstackapp.com/blog/bookstack-release-v22-06/#attachment-link-dropdown).

[2022-08-30 12:45] #1464 closed

[2022-08-30 12:48] ssddanbrown commented on #3688
Hi @brynmoorhouse,
Do you have the "Allow public access" setting enabled in the "Settings > Features & Security" area of BookStack?

[2022-08-30 12:50] ssddanbrown commented on #3687
Thanks for reporting @stevo-king,
But this is already open as issue #778 so I'm going to therefore close this off as a duplicate.

[2022-08-30 12:50] #3687 closed, assigned to nobody

[2022-08-30 12:55] ssddanbrown commented on #3686
No direct UI-based import for books, but you can directly insert markdown into a page using the markdown page editor.
Books don't really have content themselves, but are built of many pages within BookStack. I don't want to expand to support custom formats to import custom collections of markdown files.

Alternatively, you can create/update pages using the REST API with markdown content, if you ha

[2022-08-30 13:06] brynmoorhouse commented on #3688
I do, but the page which the image is uploaded to isn't public.

[2022-08-30 13:10] ssddanbrown commented on #3688
@brynmoorhouse Yeah, that'll be the cause. This image solution is only enforced when public access is disabled, since this uses the same auth control logic. This is mentioned in our security docs page but maybe we need to also mention this on our file uploads docs page.

[2022-08-30 13:14] brynmoorhouse commented on #3688
I've just turned it off and it now requests login. This will work for us for now, but it would be good if we can have that as a feature request - the permissions show that the image access is controlled by the item it's uploaded to, but that doesn't seem to be the case here.
![image](https://user-images.githubusercontent.com/40476125/187446058-423b489a-9490-4b79-b92d-3147b3d4ddcf.png)

[2022-08-30 13:33] DimS1872 commented on #3682
Hi @ssddanbrown ,
There are 2 errors in the developer console after editing the diagram and waiting.
The "save draft" request is sent if I add some text after saving the diagram.

I made a video saving the diagram (in a .zip attachment)..
Transcript:
0:20 - Saving the diagram after editing
Next, I'm waiting for the "save-draft" request to be sent
at 1:30 .. 1:55 - viewing the developer console, 2

[2022-08-30 13:45] ssddanbrown commented on #3682
@DimS1872 Thanks for confirming, and thanks for the video, it allowed me to follow your exact usage.

Can confirm reproduction. I noticed that even just clicking or moving the cursor in the editor would trigger a draft save, I think I was clicking an empty area instinctively when performing my previous tests.

[2022-08-30 20:19] dzitzels1 commented on #3679
Hi Dan,

So I worked through both methods listed above for a banner.

I think #1 is the easiest and I will use it going forward for now but #2
probably looks the best for long-term usage so I will probably try to
perfect that method in my dev environment (so if I blow it up, no big deal).

Thanks for the help.

Doug.

On Mon, Aug 29, 2022 at 9:15 PM Doug Zitzelsberger ***@***.***>
wrote:

--
Doug

[2022-08-30 20:27] ssddanbrown commented on #3679
Happy to help. Since a workaround is acceptable I'll therefore close this off.

[2022-08-30 20:27] #3679 closed, assigned to nobody

[2022-08-30 21:13] #3683 closed, assigned to nobody

[2022-08-31 03:37] yarshad opened #3690 "Meilisearch Integration"
### Attempted Debugging

- [X] I have read the debugging page

### Searched GitHub Issues

- [X] I have searched GitHub for the issue.

### Describe the Scenario

I installed Bookstack on Apache/Windows, and I noticed that the search does not work the way it works on Bookstack home page.

I saw a note that bookstack uses Meilisearch, so I was wondering if our installation comes with the Meilisearc

[2022-08-31 06:25] Swelidingo opened #3691 "Replce Shelves and Books with some other words"
### Attempted Debugging

- [X] I have read the debugging page

### Searched GitHub Issues

- [X] I have searched GitHub for the issue.

### Describe the Scenario

I would like to replace "Shelves" and "Books" with other words. i couldnt find any file that can be edited to replace those words.
i would appreciate some guidence if it is possible.

### Exact BookStack Version

v21.08.5

### Log Conten

[2022-08-31 12:26] ssddanbrown commented on #3690
Hi @yarshad,
BookStack does not integrate with, or use, Meilisearch at all.
The BookStack website is built with a static-site-generator ([source code here](https://github.com/BookStackApp/website)), not BookStack and hence we use Meilisearch on the website. If you're interested in why I don't use BookStack for the main site, [this thread](https://github.com/BookStackApp/BookStack/issues/3386) migh

[2022-08-31 12:26] #3690 closed, assigned to nobody

[2022-08-31 12:36] ssddanbrown commented on #3691
Hi @Swelidingo, We don't have a direct in-built way to achieve this.
A request for renaming is already open in #2901 so I'll therefore close this off.
A previous issue, #406, also had a lot of discussion about this.

A workaround is possible though, although it wouldn't change the names used in URLs.
See the latter part of my [comment here](https://github.com/BookStackApp/BookStack/issues/406#issu

[2022-08-31 12:36] #3691 closed, assigned to nobody

[2022-08-31 16:46] Swelidingo commented on #406
Works like charm. thanx alot

[2022-08-31 22:19] rdbtn-no commented on #1148
Huge fan, user for about 2 years now on multiple instances.

I know this is an old issue, but I'd like to add one more to the request for adding font size to the WYSIWYG editor, but for a different reason than I've seen listed here - accessibility.

A [large number of people suffer from vision loss](https://www.statista.com/statistics/1200836/vision-impairments-in-the-uk/), either due to a conditi

[2022-09-01 02:43] Mailstorm-ctrl opened #3692 "Revision Permissions"
### Describe the feature you'd like

It would be nice if we could control the permissions for revisions. For example, I'd want users to be able to go back and look at revisions, but I don't want them to be able to delete revisions (especially if it isn't logged).

Permissions that'd be nice with revisions:

View Revisions (Changes & Preview)
Rollback to Revision (Restore)
Delete Revision (Delete)

[2022-09-01 05:11] E60502 commented on #3665
I have already put the bookstack and the application's code folder on the same server, so can I extend it directly in the themes folder?

[2022-09-01 05:44] InoryS commented on #3692
I need this too, the wiki system should be able to control viewing revisions.
I'd like to be able to allow guest to view revisions but not rollbacks and delete, Just like MediaWiki.

[2022-09-01 06:58] E60502 commented on #3665
Thank you for answering me patiently, I will reorganize the functions I want to add, I have a project system that needs to be logged in, this system's code and Bookstack's code are placed on the same server, I want to create a button in the editing toolbar and when I clicking it, the system does not need to log in again.

My current idea is to remove the login page of the project system and click

[2022-09-01 09:00] ssddanbrown commented on #3692
Thanks for this request, and the described behaviour is actually the intention, but the permissions for the revision list viewing links have always been off.

This is already open under #2946 so I'm going to close this off as a duplicate but I'm going to assign #2946 for the next feature release so I don't forget about it.

[2022-09-01 09:00] #3692 closed, assigned to nobody

[2022-09-01 09:07] ssddanbrown commented on #3665
It is possible via custom hacking of the BookStack PHP code (Perhaps via the [logical theme system](https://github.com/BookStackApp/BookStack/blob/development/dev/docs/logical-theme-system.md)) , and the base framework in use (Laravel) does have some support for MSSQL, but this kind of thing is not supported in any way.

Q1 could not be done in custom HTML head content alone. You'd need to write s

[2022-09-01 09:14] ssddanbrown commented on #1148
@rdbtn-no Happy to address accessibility concerns, but I don't see how in-editor text size control helps here. Such cases would be reader-dependant rather than defined in-content by the author. I'd have thought that a global site-wide user option would be better here, although I'd probably want some evidence that in-site controls help upon browser zoom levels. As someone with weak & sensitive eyes

[2022-09-01 10:18] E60502 commented on #3665
Can I embed the link of the project system in the Custom HTML head content?

[2022-09-01 11:23] ssddanbrown commented on #3665
@E60502 Maybe, but I'm not really sure what you mean by that to be honest.

[2022-09-01 12:10] ssddanbrown commented on #3672
Thanks for reporting @Android1338!

Looking into this, I've learnt some new CSS: `display: flow-root`. Should fix this issue since it creates a new block formatting context. Relatively new yet well supported. Will apply to lists for the next feature release.

[2022-09-01 12:12] #3672 closed, assigned to ssddanbrown

[2022-09-01 12:36] E60502 commented on #3665
Like attaching a link to the project system in a custom button.

[2022-09-01 13:57] ssddanbrown commented on #3553
Thanks for raising @tyfai.
Have aligned the term to be "Shelf" in commit 9da3130a12301c9b2cc52a3bb6ada2d65a66c106.
Might take a while for non-English languages to catch-up with this change.
Will be part of the next release.

[2022-09-01 13:57] #3553 closed, assigned to nobody

[2022-09-01 13:59] ssddanbrown commented on #3665
Do you mean inserting a link into the content of the page?
Or do you mean attaching a link-based attachment? (Which would show in the sidebar of the BookStack page when viewed.)

[2022-09-01 14:49] tyfai commented on #3553
Excellent, thank you for sorting this.

[2022-09-01 15:31] ssddanbrown commented on #3688
Yeah, this could do with clarifying I guess on this roles view to avoid insecure assumptions.
The view of images, within the image manager, will be controlled by items they're uploaded to.
Access to the actual image file, is not so controlled via the system, and depends by storage type as discussed above.

Sure, I haven't had this as a common request here (Can't find existing issue) but has been r

[2022-09-01 15:37] ssddanbrown commented on #3671
Yeah, kind of. It's providing an interface for out-of-platform customization/extension, to allow things that may not be, are have not yet been, added within BookStack on your own instance, without altering core app files.
Not a full plugin system yet but may form the foundation for a more comprehensive plugin system in the future.

[2022-09-02 05:44] E60502 commented on #3665
On the button.

[2022-09-02 09:42] E60502 commented on #3665
For jQueryGantt, can it be implemented with TinyMCE?

[2022-09-02 11:08] ssddanbrown commented on #3665
Probably possible in some way, but It would take a fair amount of work, and expertise of the JavaScript code at play, to integrate to be honest.

[2022-09-02 13:56] InoryS opened #3694 "Webp image upload support"
### Describe the feature you'd like

I noticed that my Webp images became PNG images after uploading.
Please support Webp format image upload.

### Describe the benefits this would bring to existing BookStack users

Can save a lot of bandwidth and hard disk, help people save costs.
Users are also able to save bandwidth and see pages faster.

### Can the goal of this request already be achieved via

[2022-09-02 14:10] ssddanbrown commented on #3694
Hi @InoryS,
Webp images should generally be supported. Just tested various cases on my instance to confirm this, Thumbnail/scaling retained webp format as expected.

If this is not working for you please could you confirm the following:
- If possible, please provide a webp image file that's being converted as described.
- Confirm the version of PHP being used with BookStack.
- Confirm the operatin

[2022-09-02 14:32] InoryS commented on #3694
This is very strange, I just reproduced this before the demo reset, but now I can't reproduce the issue on my instance nor the demo.
Maybe it's an OS ghost issue, sorry for the trouble.

[2022-09-02 14:32] #3694 closed, assigned to nobody

[2022-09-02 18:22] ssddanbrown commented on #3590
Behaviour has now been amended in 9158a66bff8fa50640eef7ac8830d47b7fb72c02 and will be part of the next feature release.

[2022-09-02 18:22] #3590 closed, assigned to nobody

[2022-09-02 22:06] tacerus commented on #1006
My search query led me here - the author of this issue seems to have solved it by correcting a typo, but in case someone else stumbles across a `/login` 404 on SLES/openSUSE, the rewrite module is not loaded by default, and since the example config ships with `<IfModule mod_rewrite.c>`, the whole redirection block to BookStack is silently being skipped.

[code]

[2022-09-03 08:22] SmokingCrop opened #3695 "Recently made and edited books and pages are not found after upgrading from v22.07.1 to v22.07.3"
### Describe the Bug

When upgrading BookStack v22.07.1 to v22.07.3, recently made and edited books/pages are not found.
They still appear in the Audit log. However when clicking on the link to go to the book, it just says "Book not found : Sorry, The page you were looking for could not be found. If you expected this page to exist, you might not have permission to view it.".

However, I can click

[2022-09-03 11:17] ssddanbrown commented on #3695
Hi @SmokingCrop,

Nothing between those releases should really cause a visibility change such as this.

- Is the app version definitely the only variable here? Could have changes been made by users since your v22.07.1 restore point, or the point where you last tested there?
- Are these items in the recycle bin at all?
- Do these items have custom permissions applied to them or their parent items?

[2022-09-03 11:35] ssddanbrown commented on #2946
Thanks both for raising.

This has been addressed in 2fe261e20729e005385f4fe31c375ee699d938b6 and will be part of the next feature release.

### Documentation Notes

- Update advisory to note revision link visibility change (Actual revision access remains unchanged, but permissions here would not have been obvious before).

[2022-09-03 11:35] #2946 closed

[2022-09-03 11:45] SmokingCrop commented on #3695
The `php artisan bookstack:regenerate-permissions` command fixed the issue!
- The restore point was from a minute before upgrading, no changes were made to anything really
- no items were in the recycle bin
- there were items without custom permissions and items with custom ones (that both seemingly disappeared after upgrading)

No idea why it happened, but the regenerate-permissions command fixed

[2022-09-03 11:45] #3695 closed, assigned to nobody

[2022-09-03 17:37] ssddanbrown commented on #3554
Thanks for reporting @GongMingCai.
Done some testing across these languages, based upon that, this should be addressed by commit 9d54cb2254599ae2e506d519f779120d8942eca0 which will be part of the next feature release.

[2022-09-03 17:37] #3554 closed, assigned to nobody

[2022-09-05 01:45] E60502 commented on #3665
In order to complete this what skill is must require ? And is this possible for a beginner?

[2022-09-05 06:15] whoami-ru opened #3696 "Restriction on viewing recent changes"
### Describe the feature you'd like

Hi. A feature that allows enabling or disabling the view of recent changes for unauthenticated users. For example, we use a central authentication server and external users can view some of the existing logins. It can be used through OSINT to perform some attacks on companies. Also, it applies to information about books that are available for external users.

#

[2022-09-05 11:09] ssddanbrown commented on #3665
Primarily a fair amount of JavaScript skill and experience. Some PHP/Laravel experience may help to understand usage with back-end functions, since the addition may cause further problems that need to be addressed.
Ideally some experience with TinyMCE, although this could be learnt by someone with enough JavaScript skill.

Not really beginner level stuff to be honest.

[2022-09-05 11:16] ssddanbrown commented on #3696
Hi @whoami-ru,
Based upon your description, your real fundamental request here is the ability to not show user names due to their potential use against your auth system?

In BookStack we only show user display names and user url slugs, neither of these have a direct connection (unless mapped so in your auth configuration) to authentication login fields. Therefore, if this is a problem, you could u

[2022-09-05 11:47] ssddanbrown commented on #2864
With the work done in #3656, this feature will be part of the next feature release. A link will be available under "details" with a count of references to the current item (Available on pages/chapters/books/shelves). Clicking that will provide a view of pages that reference the item:

![Screenshot 2022-09-05 at 12-44-15 BookStack](https://user-images.githubusercontent.com/8343178/188441687-d1bf9dd

[2022-09-05 11:47] #2864 closed

[2022-09-05 12:07] ssddanbrown commented on #1969
Thanks for the input all.
I did explore the idea of changing the URL scheme to be uid-based, within #3520, but I concluded thinking there's no ideal approach (That would satisfy all) and any change is going to have a lot of friction and ongoing consequences.

Instead I've looked to address this fairly directly along the lines of the suggestion by @davidwaroquiers above.
Storing/tracking backrefere

[2022-09-05 12:07] #1969 closed

[2022-09-05 12:10] ssddanbrown commented on #3686
Since there's been no follow-up to the suggestions above I'm going to close this off.

[2022-09-05 12:10] #3686 closed, assigned to nobody

[2022-09-05 12:12] ssddanbrown commented on #3681
Since there's been no follow-up I'm going to close this. If this is clearly reproducible on our demo instance feel free to provide reproduction steps and this can be re-opened if needed.

[2022-09-05 12:12] #3681 closed, assigned to nobody

[2022-09-05 12:13] ssddanbrown commented on #3680
Will therefore go ahead and close this off as a duplicate of #1596

[2022-09-05 12:13] #3680 closed, assigned to nobody

[2022-09-05 12:13] ssddanbrown commented on #3675
Since there's been no follow-up I'm going to close this off.

[2022-09-05 12:13] #3675 closed, assigned to nobody

[2022-09-05 14:08] ssddanbrown commented on #3682
Just committed b698bb0e07689feeb7b80e958bfffa5cf4602423 which should address this issue based upon my testing.
Will be part of the next feature release.

[2022-09-05 14:08] #3682 closed, assigned to nobody

[2022-09-05 14:11] Mailstorm-ctrl opened #3697 "Image delete button visible without permission"
### Describe the Bug

This might be in other places but this bug is specifically for images.

If a user is allowed to VIEW pictures but NOT DELETE them the user will still have access to the delete button in the image select menu.
![image](https://user-images.githubusercontent.com/53045430/188467681-74970cce-c148-4016-8c2d-20d501c5ebc9.png)

If I click on the confirm button, I will get a bugged vi

[2022-09-05 14:54] ssddanbrown commented on #3697
Thanks for reporting @Mailstorm-ctrl.
Can confirm that permission-based visibility of this button was not active.
Have added within commit fbef0d06f2d61030183d5b85a49620f4d23717b1, to be part of the next feature release.

[2022-09-05 14:54] #3697 closed, assigned to nobody

[2022-09-05 15:56] ssddanbrown commented on #3671
As mentioned above, I've now added a "page_include_parse" theme event for customization of page include logic, as the work done in #3698.
This will be part of the next feature release.

You will be able to achieve the core request here, after upgrade, with a logical theme system `functions.php` along the lines of this:

[code]

I'm going to therefore close this off but if you need any help with ad

[2022-09-05 15:56] #3671 closed, assigned to nobody

[2022-09-05 15:58] Mailstorm-ctrl opened #3699 "Copying a book should put it in the shelf/shelves it's currently in."
### Describe the feature you'd like

Currently, when you copy a book that is in a shelf, the copy will not be a part of any shelf. These seems counter intuitive when you think about it. I understand somethings cannot/shouldn't be copied but the location of a book is something that seems like it should be.

If you want to copy a book and add it to a shelf, you will need to copy the book, open the s

[2022-09-05 16:01] ssddanbrown commented on #3678
With the work in #3698, I've now added a custom event to the [logical theme system](https://github.com/BookStackApp/BookStack/blob/development/dev/docs/logical-theme-system.md) to allow customization of BookStack page content include handling. This will be part of the next feature release.

As an example, you will be able to achieve disabling of content includes, after upgrade, with a logical them

[2022-09-05 16:01] #3678 closed, assigned to nobody

[2022-09-05 16:19] ssddanbrown commented on #3699
Thanks for the request @Mailstorm-ctrl.
I agree that this would be potentially expected and useful behaviour.
Will assign to the feature release after next.

[2022-09-05 18:01] ssddanbrown commented on #3685
Relevant TinyMCE issue: https://github.com/tinymce/tinymce/issues/6826
What I believe is relevant TinyMCE code: https://github.com/tinymce/tinymce/blob/124bb72f8d5ac9daa21a5b2bb9e866a47c06e6b9/modules/tinymce/src/plugins/lists/main/ts/core/NormalizeLists.ts#L21

Going to be a pain to work against TinyMCE here. Commonmark does not seem to understand nested (empty) lists either.

[2022-09-05 18:03] ssddanbrown commented on #3649
Since there's not been much further discussion I'll close this off.

[2022-09-05 18:03] #3649 closed, assigned to nobody

[2022-09-05 18:21] ssddanbrown commented on #1515
Thanks for the request.
I'm going to close this as an effective merge with #2368 since they cover the same fundamental request here.

[2022-09-05 18:21] #1515 closed

[2022-09-05 18:34] ssddanbrown commented on #2301
Thanks for reporting @sunnybeats,
Can confirm this. Think we'll need to limit drag/drop sorting to handle, at least on mobile, to allow a touch region for scrolling.
Have assigned to be looked at in a future feature release.

[2022-09-05 21:22] grugel-maintro commented on #2637
Is this still some how on the agenda?

[2022-09-06 02:25] grugel-maintro commented on #1422
Im also looking for an SEO solution any updates on this?

[2022-09-06 02:30] grugel-maintro commented on #3696
It is not just an issue with displaying the user name it is unnecessary information about the internal workings of the company also without the user names displayed.
I'm also looking for a solution to hide the recent activity panel  panel for users without login.

[2022-09-06 02:35] grugel-maintro commented on #2664
Still simple footnotes and also long footnotes are not working.
[code]

[2022-09-06 02:36] grugel-maintro opened #3700 "Footnotes not working"
Simple footnotes and also long footnotes are not working.

Those are standard markdown syntax and should be implemented.
[code]

_Originally posted by @grugel-maintro in https://github.com/BookStackApp/BookStack/issues/2664#issuecomment-1237595086_

[2022-09-06 10:08] ssddanbrown commented on #3700
Hi @grugel-maintro,
Footnotes are not something that's supported, but are already requested in issue #2637 so I'll therefore close this off as a duplicate.

Since there's really no such thing as "standard markdown" we tend to stick to commonmark, albeit with a few extensions.

[2022-09-06 10:08] #3700 closed

[2022-09-06 10:11] merrime-n opened #3702 "Persian interface imperfections"
### Describe the Bug

There are some undesirable bugs in Bookstack's Persian interface, due to the RTL direction apparently. These imperfections are as follows (steps to reproduce & screenshots included):

1.  When clicking on "Set changelog" in English interface, a window pops up just under the button; prompting the user to enter a brief description of changes they have made. However, in the Pers

[2022-09-06 13:12] grugel-maintro opened #3703 "/app/www/artisan bookstack:update-url PDOException"
### Describe the Bug

Try to replace the domain in the database in a newly setup docker environment with:
`docker exec -it bookstack-local php /app/www/artisan bookstack:update-url http://xxx.xxx http://localhost:xxxx`
get the following error:
[code]

### Steps to Reproduce

1. Setup service over docker
2. Change URL in database with `docker exec -it bookstack-local php /app/www/artisan bookstack:

[2022-09-06 13:44] ssddanbrown opened #3704 "Update `OIDC_GROUP_ATTRIBUTE` to `OIDC_GROUPS_CLAIM`"
To better align with existing OIDC option names.
Already used new option in docs work.

[2022-09-06 14:14] ssddanbrown commented on #3703
Hi @grugel-maintro,
Based on that error I'd say that your BookStack instance does not have visibility of the database host system.
I'd expect you'd also be getting errors on container start-up as database migrations are attempted.

[2022-09-06 15:33] #3704 closed, assigned to ssddanbrown

[2022-09-06 15:42] ssddanbrown opened #3705 "Missed script escape scenario"
Is prevented by CSP already, but good to prevent this case to benefit out-of-platform cases.

cases:

[code]

Thanks to the "JPCERT/CC Vulnerability Coordination Group" contact and the original reporter, Kenichi Okuno of Mitsui Bussan Secure Directions, Inc, again for disclosing of this case.

[2022-09-06 16:06] #3705 closed, assigned to ssddanbrown

[2022-09-06 16:24] ssddanbrown commented on #3688
I've now added a notice to the roles view for clarification as part of d8672944a5b3f6002b9d164f4c13b69408b5e75e.
Permission-controlled images have been added as part of #3693.
The BookStack docs have been updated with clearer detail of the options as part of the work done in https://github.com/BookStackApp/website/commit/5cacef6802bf7c8c2e5949e57921a749d328d7a5.

All of this will be part of the ne

[2022-09-06 16:24] #3688 closed, assigned to nobody

[2022-09-06 16:25] brynmoorhouse commented on #3688
Epic, thank you!

[2022-09-06 16:39] ygreq opened #3706 "Issues with Bookstack Installation via Docker-Compose"
### Attempted Debugging

- [X] I have read the debugging page

### Searched GitHub Issues

- [X] I have searched GitHub for the issue.

### Describe the Scenario

Hi folks! I tried installing Bookstack via stack on Portainer (so via docker-compose). The log file on both bookstack and bookstack_db report some issues. And cannot access the Bookstack interface. Dead page.

Bookstack reports
Here is t

[2022-09-06 16:43] ygreq commented on #3706
This is the log file of Bookstack once I changed from DB_PASS to DB_PASSWORD.

<details>

[code]

</details>

[2022-09-06 19:40] ssddanbrown commented on #3706
Hi @ygreq,
I ran a test setup, using the docker-compose.yml config that's embedded within your original post here, and everything worked as expected.
The only things I changed were the volume mount paths and I set a value for the `APP_URL` env option (Since that's required but would not cause the reported issue).
I am using docker-compose directly (No portainer involved).

When it comes to databas

[2022-09-06 20:37] ssddanbrown commented on #3702
Thanks for reporting @okaeiz.
I've applied a range of fixes to address these issues in 98aed794cc7272687720c4f4c42a4f540390c0af.
These will be part of the next feature release.

While I try to ensure changes/additions support RTL languages, which is getting easier as new CSS features make this easier, I cannot generally assure the state & display of content outside of English since that's our targ

[2022-09-06 20:37] #3702 closed, assigned to nobody

[2022-09-06 22:32] ygreq commented on #3706
Thank you for looking into this, Dan. The database is new so I deleted the old stack and recreated like you suggested. I also added - APP_URL=<SERVER_IP>:6875 but I still have the same issue as you can see from the log file.

<details>

[code]

</details>

I will try to recreate everything using docker-compose.yml. But I don't believe that would help
Do you have any other suggestions? Other docker

[2022-09-07 02:47] E60502 commented on #3665
Thank you for your reply, if there is any problem, I will contact you again.

[2022-09-07 08:33] whoami-ru commented on #3696
@ssddanbrown yes, it's not possible to change logins names in this case. As you can see not only me interested in with this issue. I think many companies use BookStack as a knowledge base with the need to make some books public.
So you can decide by yourself what to do with this issue close or move it to backlog =).

[2022-09-07 09:34] ssddanbrown commented on #3706
Are you specifically deleting the volume data when doing this?

I used `DB_PASS`, as per the original docker-compose.yml in your original post. Shouldn't really make a difference for the first container run.

[2022-09-07 09:44] ssddanbrown commented on #3696
I'm going to close this off since I don't want to add additional permission controls to handle user visibility in the name of a tangential reference to security.

It is possible to customize views as required, with a little hacking knowlege, using the [visual theme syste](https://github.com/BookStackApp/BookStack/blob/development/dev/docs/visual-theme-system.md) or via some custom CSS in the "Cust

[2022-09-07 09:44] #3696 closed, assigned to nobody

[2022-09-07 10:20] ygreq commented on #3706
I deleted the containers by deleting the stack. I don't exactly know if the volumes got deleted. I will try to delete the containers directly where I know I have the option to delete the volumes as well.

[2022-09-07 10:25] ssddanbrown commented on #3706
Yeah, that's quite important here.
It's rare that volumes are ever deleted with  containers, since containers are supposed to be destroyed regularly while volumes are supposed to be the retention of data across container instances.

[2022-09-07 13:15] SonGokussj4 opened #3707 "Can't dismiss callout"
### Describe the Bug

When I write something into **callout** and it's the last line in book (I don't have any paragraphs or text under) and press `Enter`, new line with new callout appears. If I press `Backspace`, it disappears but the cursor goes to the previous callout.

Right now when:

- I press `enter`, it will create a new callout,
- I press `ctrl+1` to change it to `H1`, it will create `H1

[2022-09-07 13:33] CoSciBlog opened #3708 "Sections or categories in Shelves"
### Describe the feature you'd like

Would be nice to have another level of hirarchy in the shelves like categories or sections(or even categories with nested categories).

### Describe the benefits this would bring to existing BookStack users

This one would be usefull for technical knowledgebases or communities like with more than two levels of hirarchy.
for example
village a
-- church/category

[2022-09-07 14:35] ssddanbrown commented on #3708
Thanks for the request @CoSciBlog, but I'm going to close this off as the essential request is extra levels of heirachy which could already be covered by #3016.

For historical insight into this, #95 is worth a review.

[2022-09-07 14:35] #3708 closed, assigned to nobody

[2022-09-07 16:50] ygreq commented on #3706
Still learning about Docker and Volumes is something I don't quite understand. Yet. :)
But I was referring to this. Where I always choose to delete the non-persistent volumes as well. But I still have difficulties understanding the differences. :D

![volumes](https://user-images.githubusercontent.com/2974241/188934694-336978ec-5fb7-4d60-8969-39ac320968c2.PNG)

[2022-09-07 16:55] ssddanbrown commented on #3706
Volumes are quite important when it comes to docker. They'll hold data that needs to remain existing.
All other data that exists in a container is destroyed with the container, and containers are intended to be destroyed often (Updating container-based BookStack means destroying the old container then creating a new one from an updated docker image).

I'm not sure how portainer works, and how it m

[2022-09-07 17:39] ygreq commented on #3706
Thank you for the explanations. From what I understand, stacks in Portainer are exactly like docker-compose. I don't know yet where the docker-container.yml is stored in this situation. And based on this I am almost certain that the volumes I created are persistent. I will remove the Bookstack containers and see if the volumes get removed as well.

I will report here asap.

[2022-09-07 21:16] tmrhymer commented on #3660
I encountered this same issue today. We ended up rolling back using a VM snapshot because I didn't find this post quick enough. Here is what our environment looked like

    Do you know what version you upgraded from?
v22.06.2 upgrading to v22.07.3

    How is your Ubuntu system running? Is it a VM of some kind or using a specific VPS provider?
We are on Centos 7 running on VMware.

We're going to

[2022-09-07 21:29] ssddanbrown commented on #3660
@jimmyc802 Probably better to run the command after updating.

[2022-09-08 05:30] merrime-n commented on #3702
Thanks for your kind attention and help. 💙
I will let you know if any other bug appears in Persian interface.

[2022-09-08 06:38] micha141076 opened #3709 "DIA-Links in Bookstack doesn´t work"
### Attempted Debugging

- [X] I have read the debugging page

### Searched GitHub Issues

- [X] I have searched GitHub for the issue.

### Describe the Scenario

Hello,
when I create a graphic in DIA and put a hyperlink on it, this link does not work in the saved page of Bookstack.
Is this a bug or I´m doing something wrong?

I hope

Greetings & thanks for the help

### Exact BookStack Version

v

[2022-09-08 07:17] SonGokussj4 commented on #3707
Hi. The similar is happening with `inline_code`.

- CTRL+8 (to activate inline code)
- write some text
- `enter`

New line is starting as inline code. Normal `<p>` would be preferred.

**Wrong way to dismiss**:

- after pressing `enter`, press `backspace` - because that would just move the cursor line above inside the previous `inline_code` with an empty `inline_code` block on the right.

Funny en

[2022-09-08 07:34] SonGokussj4 commented on #1339
I just tried this and I think it's resolved.
There is a little weird thing where if I click on the "first list", the cursor goes to "|first list" not "first list|", but space can be added so this issue should be closed?

[2022-09-08 08:36] SonGokussj4 commented on #821
This would be so cool...
Right now I'm creating new documentation about the path where we have our scripts saved.

So now it's `/mnt/current/path/scripts` but in the future it can be `/server2/final/scripts` so I would need to re-edit all pages/chapters where I use this variable.

Something like `@SCRIPTPATH@/scripts` would be awesome.

[2022-09-08 10:52] ssddanbrown commented on #3709
Just to confirm, are you referencing Dia, the [gnome-based diagramming tool](https://wiki.gnome.org/Apps/Dia) or are you referencing the built-in diagrams.net integration?

[2022-09-08 20:49] whattheschnell commented on #3603
Just stumbled across this.  Have the same issue, but still can't run php artisan from that folder with the Linuxserver IO docker image

[2022-09-08 21:03] ssddanbrown commented on #3603
@whattheschnell The linuxserver.io image has recently changed so directories may be different on a very recent image.
Based upon my reading of their changes, The old `/var/www/html` directory can now be found at `/app/www`

[2022-09-09 03:20] GongMingCai opened #3711 "The website icon is not shown"
### Describe the Bug

The favicon.ico don't show, but the file is stored in a public directory.

### Steps to Reproduce

open bookstack website

### Expected Behaviour

The website display favicon.ico

### Screenshots or Additional Context

![image](https://user-images.githubusercontent.com/88075411/189265042-1067c166-495f-4257-8ae2-3c2d9410d493.png)

### Browser Details

_No response_

### Exact

[2022-09-09 03:29] GongMingCai commented on #3711
I added the following code to resource/views/layouts/base.blade.php and it worked.
[code]

[2022-09-09 05:00] micha141076 commented on #3709
Hi. the built-in-Version.

[2022-09-09 07:16] Statium commented on #3711
I confirm, the problem is similar. Only the standard favicon is displayed

[2022-09-09 07:19] Statium commented on #3650
@ssddanbrown In Russian, the problem is not solved.
I am attaching a screenshot.
![image](https://user-images.githubusercontent.com/4026090/189293895-b3c1860c-77ef-410c-9d10-ff1472cf10a9.png)

[2022-09-09 08:19] techauthoruk opened #3712 "Problem upgrading to v22.09"
### Describe the Bug

When upgrading to v22.09 from 22.07.3, I received this error:

[code]
I assume this was because my app.php file was different to the one it was being updated with (my app.php has a custom entry for file upload size)?

I renamed the app.php file and re-ran

[code]
and all seems to have updated correctly - I reverted app.php to my original version after doing this. Adding these

[2022-09-09 09:18] ygreq commented on #3706
Yep. The persistent volumes where still there after I removed Bookstack from Portainer | Stacks

Now I have another issue. When I try to access BookStack I get what you see in the attached images. Mostly a big logo (so big that I had to make 2 printscreen to cover all the details) and the message

_Page Not Found
Sorry, The page you were looking for could not be found.
If you expected this page to

[2022-09-09 10:37] ygreq commented on #3706
I forgot to mention that the web GUI address is like this: http://<IP_ADDRESS>6875/<IP_ADDRESS>:6875/<IP_ADDRESS>:6875/login

So it repeats itself.

Database log is. There are some errors at the beginning. I don't know if they are related.

[code]

Bookstack log is

[code]

[2022-09-09 14:38] r7l opened #3713 "Support for Redis sockets"
### Describe the feature you'd like

The current configuration doesn't support connecting to Redis using Unix sockets. I've also seen the older issue there was about this. It was closed by the user back then but it would still be a nice feature. Laravel does support this out of the box and using sockets is also supported by Bookstack for MySQL (mostly because of Laravel).

### Describe the benefit

[2022-09-09 14:39] ssddanbrown commented on #3709
Okay, Yeah, links are not supported at this time in drawings due to the format we use.
A request to support this feature is already open in #1170. Will therefore close this off.

[2022-09-09 14:39] #3709 closed, assigned to nobody

[2022-09-09 14:51] ssddanbrown commented on #3711
Hi @GongMingCai and @Statium,
Are you hosting your instance on sub-paths? For example: `https://example.com/wiki`

[2022-09-09 14:55] ssddanbrown commented on #3712
Hi @techauthoruk,
This would be expected behaviour in that scenario.
Editing of the `app/` files is not supported and will cause upgrade conflicts.
I believe there's a warning at the top of the edit file to advise against editing.

If you let me know exactly what line you've altered, I should be able to provide the officially support way of performing the config change made here.

[2022-09-09 14:57] ssddanbrown commented on #3706
@ygreq That is a sign that the `APP_URL` has not been set, or has an incorrect value.
The value of the environment variable must be the exact base URL you'd access BookStack on in the browser, with no trailing slash and with protocol. For example: `APP_URL=https://docs.example.com`

[2022-09-09 15:06] ssddanbrown commented on #3713
Previous mentioned issue for context: #2669

Thanks for raising @r7l, but I'm still not really sure on the use-case/purpose for this.
I don't like to add support for new options unless there's significant purpose or desire for it, for which I don't see here.
My feelings are that redis sockets are mainly used when the redis server is local, whereas we mainly have redis as an option for the purposes

[2022-09-09 16:29] r7l commented on #3713
@ssddanbrown I can surely understand the idea of not adding features and options when there is little demand. It's also understandable to have a focus on certain types of hosting. But then, this project was repeatedly mentioned on so called "[Selfhosting](https://www.reddit.com/r/selfhosted/comments/i14dnq/5_years_of_bookstack/)" communities for quite some time now. People hosting on all sorts of

[2022-09-09 16:55] ssddanbrown commented on #3713
That would be likely be all that's required, but the initial technical effort is rarely the costly part.
It's the test, validation upon framework update, documentation, user support and the extra variables when debugging and supporting with users.
If it was just this case, there wouldn't be an issue, but there are many many cases like this with little edge-case requests, which can add up in terms

[2022-09-09 20:49] ygreq commented on #3706
Yey!! I guess linuxserver should have made this more clear. How to input it and that it is actually necessary.

Thank you so much. I finally have a proper login page :D

[2022-09-09 20:49] #3706 closed, assigned to nobody

[2022-09-10 00:47] joe-eklund opened #3714 "Issue upgrading to v22.09 from v22.07.3"
### Describe the Bug

After upgrading to v22.09 from v22.07.3 I cannot access any of my books. Instead, when I click on them I get `An Error Occurred An unknown error occurred` (See screenshot below). I get the same behavior when I attempt to login. I have attached the error logs.

Seems like a bug to me, but if anyone has any ideas for me to try please let me know. Thanks!

Rolling back to v22.07

[2022-09-10 05:39] hadiahmed098 opened #3715 "Logout of OIDC provider when logging out of Bookstack"
### Describe the feature you'd like

When I press "Logout" on Bookstack, I only get logged out of Bookstack. If the authentication is through an OIDC provider, I'd want to be logged out of the provider as well.

There is an `end_session_endpoint` given in the OIDC discovery endpoint, so this shouldn't be too difficult to add.

### Describe the benefits this would bring to existing BookStack users

[2022-09-10 12:06] micha141076 opened #3716 "Emoji in Bookstack"
### Attempted Debugging

- [X] I have read the debugging page

### Searched GitHub Issues

- [X] I have searched GitHub for the issue.

### Describe the Scenario

Hello,
How can I add emojis to Bookstack? Is there documentation on this?
I havn´t found nothing.

Greeting
Micha

### Exact BookStack Version

22.09

### Log Content

_No response_

### PHP Version

_No response_

### Hosting Environmen

[2022-09-10 12:33] ssddanbrown commented on #3715
@hadiahmed098 Thanks for the suggestion.
As usual with auth features, I'm hesitant to grow the scope.

---

Relevant specs:
- https://openid.net/specs/openid-connect-session-1_0.html
- https://openid.net/specs/openid-connect-frontchannel-1_0.html
- https://openid.net/specs/openid-connect-backchannel-1_0.html

All in implementers draft standard, support will vary across identity providers. Existing

[2022-09-10 12:39] ssddanbrown commented on #3716
Hi @micha141076,
We don't specifically support any emoji interface controls (Nor do we for other symbols/characters) but they can be inserted using whatever means your operating system provides:

- [Windows](https://support.microsoft.com/en-us/windows/windows-keyboard-tips-and-tricks-588e0b72-0fff-6d3f-aeee-6e5116097942)
- [Mac](https://www.howtogeek.com/684025/how-to-type-emoji-on-your-mac-with-a

[2022-09-10 13:47] micha141076 commented on #3716
OK. Thank for the feedback

[2022-09-10 13:47] #3716 closed, assigned to nobody

[2022-09-10 15:56] EricChen1248 commented on #1854
Just leaving a comment for users who are stupid like me and still find it not working.

If you are using linuxserver.io's version of bookstack, you need to create a custom docker image off of it and add php8-exif, as this fix relies on that.

[code]

It's likely the same for solidnerd's version, but I didn't test it.

[2022-09-11 02:41] saschabrockel opened #3717 "Enable chunked uploads for Dropzone.js"
### Describe the feature you'd like

It would be very nice if Bookstack implemented Dropzone.js, which is used for file uploads so that the uploads use chunks. This way problems like an upload limit from Cloudflare can be circumvented. Otherwise, no matter what settings you make, only a maximum of 100MB can be uploaded. Even changes to php.ini or nginx.conf won't help.

### Describe the benefits t

[2022-09-11 02:42] hadiahmed098 commented on #3715
I found this spec on the OpenID website, it is also in implementers draft.

* https://openid.net/specs/openid-connect-rpinitiated-1_0.html

(Note that the OpenID specification list doesn't include it under implementers draft, but [this press release](https://openid.net/2022/07/05/public-review-period-for-proposed-final-openid-connect-logout-specifications/) mentions it.

The RP-initiated logout wo

[2022-09-11 02:45] hadiahmed098 commented on #3715
The voting period to finalize the specification closes on Monday, so there should be an update on the specification after Tuesday, September 13. I'll keep an eye on it.

[2022-09-11 12:24] ssddanbrown commented on #3717
Thanks for the suggestion @saschabrockel.

To be honest though, I'm not fond of complicating upload handling within our project/codebase because of limitations applied by third-party services, of which are optional to the instance hoster.
It seems like we're taking the burden from the choices of others.

If BookStack was a service to specifically handle large files uploads, I might see some value

[2022-09-11 12:38] techauthoruk commented on #3714
Hi

Just a thought...have you tried re-running

[code]
after doing the upgrade? Might help? I'm far from being an expert, so sorry in advance if this is of no use!

[2022-09-11 12:52] techauthoruk commented on #3712
Hi @ssddanbrown

I use a bash script file to backup all my BookStack files and databases and then perform the upgrade to the latest version, which may well be the reason I didn't see any warnings or other prompts...maybe I should look at updating my script to give some sort of prompt!

The line changed in my app.php file was:

[code]

I think the original entry here for file upload size was 50, bu

[2022-09-11 13:50] ssddanbrown commented on #3712
Hi @techauthoruk,
The proper way to change that option would be by adding:

[code]

to your `.env` file, found in the root folder of your BookStack install.
This is documented in our docs here: https://www.bookstackapp.com/docs/admin/upload-config/#bookstack

That was an old mechanism that was replaced with the above.
This change can be found in our update notes here: https://www.bookstackapp.com/

[2022-09-11 14:16] techauthoruk commented on #3712
Ah @ssddanbrown

Fair comment, although as a non-technical user, it's a bit of a stretch to expect me to check all the revision/update notes to see what the changes have been :D - remember, many of us are user-admins with a limited degree of technical prowess!

I will remove the code in the custom head section & revert the app.php file to the default 50Mb setting to avoid future issues (I assume t

[2022-09-11 14:42] techauthoruk commented on #3712
mmm...doing this has (seemingly) removed all my shelf/book custom images! Not what I was expecting and I don't have time to investigate this further today.

[2022-09-11 14:51] techauthoruk commented on #3712
Wow!!!!!!

Making these (seemingly small) changes have resulted in not only losing all my custom book images, but also when I try to log in producing an error message that says "The image '...\image filename hidden.png' cannot be displayed because it contains errors"

Why? What has happened to cause this? What have I done to do this and does it mean I need to upload ALL my custom images and reassi

[2022-09-11 16:47] ssddanbrown commented on #3712
Always worth checking the official updates page before updates though, I ensure any potentially breaking changes or security notices are listed there for each version change.

Yes, The latest release version of the file [can be found here](https://github.com/BookStackApp/BookStack/blob/release/app/Config/app.php).

I don't know, Changing the mentioned files alone (`.env`, `app.php`) should not cau

[2022-09-12 09:34] FeIix commented on #820
The "Security and Encryption" extension for confluence has a nice way to do this, you can hide any content behind a button and give access permission to specific users or groups.
It's integrated in the toolbar, like spoilers or code blocks.
Really useful to store / share passwords, especially the Copy button

[2022-09-12 12:22] ssddanbrown commented on #3703
Since there's been no follow-up I'm going to close this. If the issue remains and is something you still require to be fixed respond to my previous comment and this can then be re-opened.

[2022-09-12 12:22] #3703 closed

[2022-09-12 14:48] patbcc commented on #3685
I've been hitting this issue as well.  The issue only seems to occur when using the increase indentation button.  Using the indent button on an ordered list gets the weird behavior described above.  However, manually adding something like style="padding-left: <someNumber>px;" to the &lt;ol&gt; element works just fine.  Given the not so pretty nature of the HTML code, this workaround can be a bit o

[2022-09-13 00:51] GongMingCai commented on #3711
yes

[2022-09-13 00:51] #3711 closed, assigned to nobody

[2022-09-13 00:51] GongMingCai commented on #3711
yes

[2022-09-13 07:50] igoresz opened #3718 "Second and third AD catalogues."
### Attempted Debugging

- [X] I have read the debugging page

### Searched GitHub Issues

- [X] I have searched GitHub for the issue.

### Describe the Scenario

Hello.
It looks like BookStack can't work with two mo more AD catalogues.
Is it correctable?

Many thanks in advance,
Igor St.

### Exact BookStack Version

BookStack v22.09

### Log Content

_No response_

### PHP Version

_No response_

[2022-09-13 10:30] ssddanbrown commented on #3718
Hi @igoresz, By catalogues, I'm assuming multiple active directory instances?
If so, that is not something we currently support. It has been requested for LDAP in #543.

[2022-09-13 10:36] #3718 closed, assigned to nobody

[2022-09-13 11:04] merrime-n opened #3719 "Searching strings in attachments and uploaded files"
### Describe the feature you'd like

In order to improve the ease of access and content navigation, it would be great if one could search for strings in attachments (mostly MS Office Word files or even PDFs).

### Describe the benefits this would bring to existing BookStack users

When the amount of books and shelves rises, the number of attachments increases consequently. As a result, navigating

[2022-09-13 11:20] ssddanbrown commented on #3719
Thanks for the suggestion @okaeiz,

Personally I'm not too keen on this, since it would expand the scope of what we consider as main documentation content to attachments, which provides a sliding scope to different attachment types.
Behavior may be confusing here as indexing will depend on supported formats, and the structure of content within those formats. In addition, extra work would be needed

[2022-09-13 11:35] merrime-n opened #3720 "Tag suggestions are inaccurate past 3 characters with tags that have matching prefixes"
### Describe the Bug

[ This bug is apparently reproducible only in RTL languages. ]
[ Since the issue is language-related, the attached screenshots may help comprehend the problem. ]

When the user intends to add a new tag in a page and searches for a Persian word, only the tags are suggested which START with what the user has typed.
For instance, if the user searches for "سلام", the tag suggesti

[2022-09-13 15:52] mmospanenko commented on #76
Any chances to get Postgres as db backend? For example if we have everything in Postgres on one server, additional process for Mysql could be extra memory costs

[2022-09-13 16:01] techauthoruk commented on #3712
@ssddanbrown

Dan

Don't know what happened, but reverting the configs made no difference. I ended up restoring my install from a backup in its entirety, and all is now working as it should. Something obviously got corrupted, but thank you daily backups!

I have made the changes to the .env file and /Config/app.php is now in line with the structure you suggested.

Mark

[2022-09-13 17:04] carlossierra311 opened #3721 "Broken Layout and Huge Icons"
### Attempted Debugging

- [X] I have read the debugging page

### Searched GitHub Issues

- [X] I have searched GitHub for the issue.

### Describe the Scenario

Hi BookStack team. I followed the steps described [here](https://www.bookstackapp.com/docs/admin/installation/) to install the application on my Windows PC, and the application seems to work, but the design is broken and the icons are hu

[2022-09-13 17:46] acrafts0 commented on #560
Just :+1: 'd it as well. This may be a blocker for my group, otherwise really enjoy the workflows so far. Pitting this versus Confluence and this is a major feature difference (IMO).

[2022-09-13 17:55] binarydad opened #3722 "Highlight searched works on page after using search functionality"
### Describe the feature you'd like

Whenever I search for keywords, after clicking on the page containing the word, I typically have to Ctrl+F to find the word again on the page. It would be nice to have the page highlight the word(s) when clicked-through from a search result page.

### Describe the benefits this would bring to existing BookStack users

I feel this would help users quickly find w

[2022-09-13 22:11] ssddanbrown commented on #3721
Hi @carlossierra311,
Can you right-click the page in the browser > View source > then within the source search for `` near the top then provide the first two lines under that?

[2022-09-13 22:19] ssddanbrown commented on #3722
Thanks for the suggested @binarydad.
We did have this at some point but think it went missing a while back.
Search has got more complex now though, as in search types & syntax.
Maybe we just keep things simple and look for the first standard text search term, or exact term, and search for that.

Could potentially be a good case for [text fragments](https://wicg.github.io/scroll-to-text-fragment/)

[2022-09-13 22:26] ssddanbrown commented on #3720
Hi @okaeiz,
I don't believe this is specific to RTL languages, this is what I'd expect for all languages.

For searches across potentially larger datasets they will commonly be done on a prefix-match search so that database indexes can be taken advantage of. This is the case here, tag names and values are searched via prefix-match since the values are queried via the back-end and database then ret

[2022-09-13 22:26] carlossierra311 commented on #3721
Hi @ssddanbrown. Sure thing:

[code]

Thanks

[2022-09-13 22:28] ssddanbrown commented on #3721
@carlossierra311 Thanks, What do you see when you go direct
to the URL `http://localhost/dist/styles.css?version=v22.09` ?

[2022-09-13 22:29] ssddanbrown commented on #3712
Good to hear things are back working. Will therefore close this off.

[2022-09-13 22:29] #3712 closed, assigned to nobody

[2022-09-13 22:36] carlossierra311 commented on #3721
Hi @ssddanbrown. This is what I see:
![image](https://user-images.githubusercontent.com/23511373/190021306-dba61630-d036-44d6-be77-e43e0b329e97.png)

Thanks.

[2022-09-13 22:40] ssddanbrown commented on #3721
@carlossierra311 Okay, thanks. Right file is being served but likely with the wrong content-type. Likely due to some webserver misconfiguration. Look for any nginx config that's forcing a content-type. If you're not sure, please share as much of your nginx config as possible.

[2022-09-13 22:43] carlossierra311 commented on #3721
Hi @ssddanbrown. Thanks again!

Here is the full nginx.conf file content:

[code]

[2022-09-13 22:46] ssddanbrown commented on #3721
@carlossierra311 In a typical nginx setup a `mimes.types` file would be included within the `http` block as shown here:

https://www.nginx.com/resources/wiki/start/topics/examples/full/

Never used nginx on Windows, but did it come with such a file you can include?

[2022-09-13 23:23] carlossierra311 commented on #3721
Hi @ssddanbrown. It came with such a file. I just included it within the http block, restarted Nginx, force-refreshed the page in Chrome, but the result was the same.

![image](https://user-images.githubusercontent.com/23511373/190026396-82014fba-7845-45ee-ad29-679ab27b164d.jpeg)

Any other ideas?

Thanks!

[2022-09-13 23:57] ssddanbrown commented on #3721
Hi @carlossierra311,

Are you sure those lines are valid for your windows setup? Those added lines have unix style paths.
Also, you should not need the proxy or fastcgi lines for this, they may be confusing things.

I downloaded the windows files for nginx and the default provided `http` block contained the following line:

[code]

Might be worth removing the lines you added and add the above to y

[2022-09-14 01:29] Mailstorm-ctrl opened #3723 "Deleting a revision when lacking permissions kicks you back to far"
### Describe the Bug

If you use an account that is allowed to view revisions but does not have the permission to delete revisions then attempt to delete a revision, you will be knocked back to the homepage.

This isn't that big of a deal but it is quite a shock from a user standpoint. Ideally you just get a message that says you don't have permission and then does nothing.

### Steps to Reproduce

[2022-09-14 02:07] Mailstorm-ctrl opened #3724 "Selectable tags when searching"
### Describe the feature you'd like

When you use the global search bar you should be able to select available tags in the advanced search area. Currently, you have to KNOW the exact name of a tag to utilize that section.

### Describe the benefits this would bring to existing BookStack users

Easier advanced searching.

### Can the goal of this request already be achieved via other means?

Kind o

[2022-09-14 02:56] carlossierra311 commented on #3721
Yes, that was it @ssddanbrown. Thank you so much for your time and help.

In case anyone else comes here to try and solve this or get a working nginx.conf sample for Windows 10, here is the final file content:
[code]

[2022-09-14 02:56] carlossierra311 commented on #3721
Yes, that was it @ssddanbrown. Thank you so much for your time and help.

In case anyone else comes here to try and solve this or get a working nginx.conf sample for Windows 10, here is the final file content:
[code]

[2022-09-14 07:40] merrime-n commented on #3720
On one hand, I definitely respect the policy and the procedure; On the other hand, when the users do not fully recall the tag name, it seems logical if they could search for a specific part of the tag.
**However, the searching tool does really have bugs**. I will explain it through screenshots.
I have created some tags whose prefixes are similar.

![cap9](https://user-images.githubusercontent.com/

[2022-09-14 08:27] merrime-n commented on #3724
I guess I have the same issue. I think it would be better if we could just search for any part of the tag name. Currently, we need to type the exact tag name to add it. My issue is [here](https://github.com/BookStackApp/BookStack/issues/3720)

[2022-09-14 09:11] nhmw-bnovak commented on #3651
Hi There,
I have the same issue, but for some reason it only happened to one of my pictures I included in my book. See Screenshot attached. I deleted the old pic, made a new screenshot, uploaded it and used this one instead of the old, broken one. Now it's working fine again. I am not sure why this problem came up with this one picture but not with others.

![Bildschirmfoto 2022-09-14 um 11 08 36]

[2022-09-14 09:15] ssddanbrown commented on #3721
@carlossierra311 Good to hear that got things working. Will therefore close this off.

[2022-09-14 09:15] #3721 closed, assigned to nobody

[2022-09-14 09:23] ssddanbrown commented on #3724
Hi @Mailstorm-ctrl,

Was there a specific differentiator in raising this additional issue then? Just want to ensure I'm not missing anything before closing this as a duplicate.

In regards to other means of achievement, you could start a tag search by clicking the name or value of the tag, then tweaking your search from there.

[2022-09-14 11:01] Redsandro commented on #119
This issue has been about different users using _different editor types for the same page_, and the per page editor switch in PR #3387 doesn't touch that. In fact, I think it makes things more complex and error prone. I understand the complexities and consequences are not desirable for all, but at the same time this solution does not fix the issue for all.

OP mentions colleagues wanting to edit t

[2022-09-14 12:00] ssddanbrown commented on #119
@Redsandro I won't re-open this since I believe the intended solution would have addressed the fundamental needs of many in this thread, or at least massively reduced friction, even if not specifically implemented as desired. With the switching functionality added, the context of conversation is now quite different.

Feel free to open a new feature request issue though, but please focus it in the

[2022-09-15 00:11] Mailstorm-ctrl commented on #3724
There sure is a reason...I don't know how github works and wasn't sure if liking the request brought it back up on your radar :)

[2022-09-15 04:08] hadiahmed098 commented on #3715
@ssddanbrown The RP-Initiated logout procedure was promoted to a final specification.

https://openid.net/specs/openid-connect-rpinitiated-1_0.html

[2022-09-15 04:22] Chansig commented on #3367
Hi,
Adding a caption is essential to specify the copyright of the image. This is what keeps me from using BookStack publicly today.

Thanks for the job.

[2022-09-15 10:19] ssddanbrown commented on #3724
Okay, thanks for confirming, I'll therefore close this off as a duplicate of #2829

[2022-09-15 10:19] #3724 closed, assigned to nobody

[2022-09-15 13:14] FMCUSystemAdmins opened #3725 "Server Migration"
### Attempted Debugging

- [X] I have read the debugging page

### Searched GitHub Issues

- [X] I have searched GitHub for the issue.

### Describe the Scenario

If we need to migrate our BookStack server, is it as simple as installing the web server, php, and database packages. Then cloning the project and importing the database and everything beneath `/var/www/bookstack` to the new server?

###

[2022-09-15 13:19] ssddanbrown commented on #3725
Yeah, pretty much. Might have some permission fixing to do (and selinux playing to do if active), and webserver config tweaks to make. Some details on our [backup/restore page](https://www.bookstackapp.com/docs/admin/backup-restore/) may help. Of course, backup everything first for safety and ideally don't delete anything on the old system before ensuring the new system is working.

[2022-09-15 13:35] FMCUSystemAdmins commented on #3725
Ok, will give it a go. Thanks!

[2022-09-15 20:03] Redsandro opened #3726 "Per-user WYSIWYG editor option for Markdown pages"
### Describe the feature you'd like

On specific books, for example about family events, it is desirable to write a page with multiple authors. While at least in my environment most young authors prefer Markdown mode (although they call it Wiki mode), senior family members tend to mess things up if the editor isn't simple WYSIWYG. Therefore it is desirable to have a WYSIWYG mode editor/front-end t

[2022-09-16 07:43] wfjsw commented on #76
Current status on porting to Postgres (will update in realtime):

(Disclaimer: I run the test because it is the only way to know if BookStack is working properly. I have no idea if the test cases cover all cases)
[code]

I think this is doable, and I can provide extended support if a changeset is finally agreed on. However, this may take a long time as it involves former bad practices (Non-strict

[2022-09-16 11:06] Crow-Control commented on #76
To be fair, besides postgresql to does also pose general improvement to the project itself :)

[2022-09-16 14:39] homer2320776 commented on #821
+1 for this

[2022-09-16 17:00] FMCUSystemAdmins commented on #3725
Things went relatively fine. Had to create SELinux policies and apply them and web server user permissions _after_ importing the application files. Then had a little snag on LDAPS authentication, ended up finding out two things that can make or break that functionality:

- `setsebool -P httpd_can_network_connect 1`
- `/etc/openldap/ldap.conf` (along with certificate placement)

All seems stable (k

[2022-09-16 17:00] #3725 closed, assigned to nobody

[2022-09-16 20:38] Obinoben commented on #821
+1

It would be nice to include default variable placeholders like the revision number of the page because we need to display it on our procedures. Some like @current_page_revision@ ;)

[2022-09-16 21:19] ssddanbrown commented on #821
Just to confirm, if not aware, there is a page include system which often be used for these scenarios:
https://www.bookstackapp.com/docs/user/reusing-page-content/

[2022-09-16 21:31] ssddanbrown commented on #76
Just to be clear @wfjsw, as per my previous comments, even if you get to a working implementation I would not look to merge it at this time. My issue has never been the initial implementation effort and I still don't feel to be at a comfortable point for widening database support.

Of course you are free to maintain a fork with your changes but I will not go out my way to support that fork in any

[2022-09-17 00:55] Yetangitu opened #3727 "[RFC] BookStack API CLI (not a feature request, code already written)"
### Describe the feature you'd like

This is not a feature request since I already created the necessary tooling to provide easy command line access to the API.

Here's the repo:

https://github.com/Yetangitu/bs

Here's what it does:

List available books

    bs books list

Again, this time 500 results, start at offset #1000

    bs books list -c 500 -o 1000

Show details for page with id 12345

[2022-09-17 01:03] wfjsw commented on #76
I will share my findings during the Postgres adaption and why I think `don't feel to be at a comfortable point for widening database support` is an invalid excuse at all.

**TL;DR: This is not an improvement, nor a new feature. It is a major BUGFIX for this application currently on life support.**

### The key question: Does supporting extra databases incur extra effort?

The answer is No. As we a

[2022-09-17 01:43] onedr0p commented on #76
@ssddanbrown I wouldn't take what @wfjsw replied with personally on your (excellent) development skills, it's valid constructive criticism and pretty well said. Besides those points IMO Postgres is the superior relational database engine compared to MySQL/MariaDB.

[2022-09-17 02:54] derky1202 commented on #778
nice job. thanks

[2022-09-17 11:27] neomelb commented on #2494
Has this feature been released or not?

[2022-09-17 12:13] ssddanbrown commented on #76
@wfjsw

If there are reasons, with tangible benefits, to support specifically strict mode, for existing mysql/mariadb users, that can be raised via a new feature request if desired for specific discussion.
If there are issues that are affecting existing mysql/mariadb users, or known/actual official deprecations on their way, again those can be raised as new issues.

Thank you for saying you don't

[2022-09-17 13:43] wfjsw commented on #76
@ssddanbrown

Thank you for your response!

According to [The MySQL Documentation 5.1.10](https://dev.mysql.com/doc/refman/5.7/en/sql-mode.html), the SQL mode is changed in MySQL 5.7.5 to include [ONLY_FULL_GROUP_BY](https://dev.mysql.com/doc/refman/5.7/en/sql-mode.html#sqlmode_only_full_group_by) and [STRICT_TRANS_TABLES](https://dev.mysql.com/doc/refman/5.7/en/sql-mode.html#sqlmode_strict_trans_

[2022-09-17 15:28] ssddanbrown commented on #76
@wfjsw Thanks for the further info, but you have disregarded my request to open a new issue to discuss this, where the above information would have been much better placed, which also goes against my earlier wish to not distract this thread. A new focused issue would provide opportunity to properly discuss the value and approach for moving to supporting strict mode. If a wide-scale PR was opened u

[2022-09-17 15:32] wfjsw commented on #76
@ssddanbrown I think all relevant info is already placed here, and strict SQL support automatically brings us Postgres and SQLite support thus they are essentially the same epic as well.

I'll have to emphasis that it is not possible for a change like this to not be wide-spread. Affirmatively it is possible to gradually change the way the application calls the database, but when it comes to databa

[2022-09-17 15:45] Flameborn commented on #76
I think at this point it has been clearly indicated by @ssddanbrown that this is not something relevant for the project. I personally think that this would be quite beneficial in the long run, especially via SqLite, but I can accept that it's out of scope.

Since many of us are interested in this, may I suggest @wfjsw to create a fork that offers broader database support, where we could possibly d

[2022-09-17 16:00] ssddanbrown commented on #76
Okay, think I'm just gonna have to lock this conversation off, but I will summarize for people coming to this:

- I am not against adding SQLite or Postgres support in the future, but I don't currently feel comfortable to add and support it at the current time.
  - For detailed reasoning please see my previous posts above.
- If MySQL strict support is desired I'd be happy to have an issue raised t

[2022-09-18 11:44] Statium commented on #3650
![image](https://user-images.githubusercontent.com/4026090/190900355-1e693864-88b4-42af-b262-0760ae0783e8.png)
I corrected line 52 in the LanguageManager.php file and it solved the problem (added UTF-8)
![image](https://user-images.githubusercontent.com/4026090/190900458-1010ea1b-fa20-4c74-b1c4-ee4a5570b85e.png)

[2022-09-18 12:01] merrime-n commented on #2829
What is going on with this issue?
It is annoying.

[2022-09-18 13:14] Mailstorm-ctrl opened #3729 "Drag and drop support for attachments (When a non-image is dropped)"
### Describe the feature you'd like

It would be really neato if we could drag n' drop any file type onto a page where it would be uploaded and have a link inserted to where-ever the cursor is. So if I have a certain exe file I'm mentioning in a doc, I think it would be a massive QoL improvement if I could simply drag n' drop said file into the page and paste a link so I don't manually have to upl

[2022-09-18 14:16] ssddanbrown commented on #3727
Hi @Yetangitu,
This is awesome! Thanks for sharing.

To be honest, I wouldn't really want to include the entire code/project within one of our repos at all, since under an official repo would defer expected support to the BookStack project itself and I'd prefer to keep our focus narrow/fixed where possible.
That said, I'm sure this would be really helpful to others so definitely worth referencing

[2022-09-18 14:30] ssddanbrown commented on #3714
Hi @joe-eklund,
Sorry for the late reply, had missed this one.

Looks like the database migrations are going wrong. Before following any of the below, please backup everything before proceeding.
Please could you access the BookStack database and run the following command:

[code]

This will add back-in the primary index that the migrations are expecting.
It's likely that the issue may be elsewhere

[2022-09-18 15:35] Yetangitu commented on #3727
Fine by me, I'll keep it up on _Github_. Just added a few changes to enable the use of multiple hosts and users, e.g. `bs -H another_host -U another_user books search -c 400 -q "wood gasification"`. There does not seem to be (read-only) API access to the demo host so it does not work there, otherwise that would be a good test opportunity. It _Works For Me™_ so I guess it should work elsewhere.

BT

[2022-09-18 15:45] ssddanbrown commented on #3727
No, I'm keeping the API to a single dynamically evolving version that essentially can be considered tied to the BookStack version.
I do intend to retain a very stable interface though, with any potentially breaking changes reported on [our updates page](https://www.bookstackapp.com/docs/admin/updates/#version-specific-instructions).

[2022-09-19 05:38] Kol8bok commented on #1870
Hello,

I try to configure SAML with AD FS.
Tell me how to solve the problem
I set everything up, but the error keeps popping up
**My config  .env:**

AUTH_METHOD=saml2
AUTH_AUTO_INITIATE=false
SAML2_NAME=BOOKSTACK
SAML2_EMAIL_ATTRIBUTE=email
SAML2_EXTERNAL_ID_ATTRIBUTE=id
SAML2_DISPLAY_NAME_ATTRIBUTES=firstName|lastName
SAML2_IDP_ENTITYID=https://data-centre.siecom.pro/FederationMetadata/2007-06/

[2022-09-19 05:52] Kol8bok opened #3730 "SAML2 authorization issue with AD FS Microsoft"
### Attempted Debugging

- [X] I have read the debugging page

### Searched GitHub Issues

- [X] I have searched GitHub for the issue.

### Describe the Scenario

Hello,

I try to configure SAML with AD FS.
Tell me how to solve the problem
I set everything up, but the error keeps popping up
My config .env:

[code]

On the AD FS:
The file with metadata https://wiki.siecom.pro/saml2/metadata in AD F

[2022-09-19 08:23] Rumcajsev commented on #3729
This could be helpful. I find the current location of attachments kind of a mixed bag - while they gather everything in one place, it's difficult to give context to files(since you can download them directly from eg. specific paragraphs). I think that most users are used to having inline links to attachments and the current list could be just a summary of attachments on given page.

[2022-09-19 15:39] ssddanbrown opened #3731 "Show detail on SAML "invalid_response" errors"
Should be able to get this from underlying library,
To help debug scenarios such as #3730.

[2022-09-19 16:42] Gr-DigiLady opened #3732 "Open new language (el-gr)"
### Language to Add

Greek

### Confirmation of Intent

- [X] I confirm I'm offering to help translate for this new language via Crowdin.

[2022-09-19 17:07] ssddanbrown commented on #3727
Alrighty, I've now updated our API scripts repo to list this project, and other community works, as discussed above: https://github.com/BookStackApp/api-scripts#community-projects--scripts

Will therefore close this off.
Thanks again for sharing!

[2022-09-19 17:07] #3727 closed, assigned to nobody

[2022-09-19 17:36] ssddanbrown commented on #3732
Thanks for offering to translate into greek.
I'll add the language right after the next patch release is published, which should be in the next few days.
Feel free to remind me if there's been no further update after 5 days from now.

[2022-09-19 18:04] Gr-DigiLady commented on #3732
If you want, I already edited the php files to 70% and can upload them somewhere

[2022-09-19 18:58] yuelu714 opened #3733 "Images don't show up in PDF export."
### Describe the Bug

We just upgraded our bookstack instance from version v22.07.3 to v22.09.  I noticed that images don't show up in PDF export anymore.  Image file name is displayed where the image is supposed to be instead.  Images still show up correctly in html export.

### Steps to Reproduce

1. Go to a document that contains images.
2. Export the document as PDF.
3. Open the export PDF and

[2022-09-19 20:57] pmenzel opened #3734 "add list of chapters to JSON data in books/read API endpoint"
### API Endpoint or Feature

For the sake of completeness, the JSON data returned by the books/read API endpoint `/api/books/{id}` ([docs](https://demo.bookstackapp.com/api/docs#books-read)) should contain a list of chapters in the particular book, similar as shelves/read contains a list of books and chapters/read contains a list of pages.

### Use-Case

When getting the info about a particular bo

[2022-09-19 21:29] yuelu714 commented on #3733
It turns out it is because we load production instance data to the test instance and url of the images were pointing to the prod instance.  So the images in the export don't show up only in the test enviroment.  The issue is fixed after we run the following command in the test environment:
php artisan bookstack:update-url PROD_URL TEST_URL

[2022-09-19 21:29] #3733 closed, assigned to nobody

[2022-09-19 21:38] ssddanbrown commented on #3732
@Gr-DigiLady Thanks, You should be able to directly upload them into Crowdin once the language is added.
I don't want to add the language right now, since the addition will trigger a lot of extra changes to project files, but as above it'll be some point soon.

[2022-09-19 21:44] ssddanbrown commented on #3734
Thanks for the request @pmenzel, I agree we should include this.

Since books also contain pages, and have a pre-defined structure, I'd say we should add a `children` or `contents` attribute which contains the entire tree structure, as per what you'd see when viewing a book in BookStack. So this would be an array mixed with chapter and page details, for top-level book items, with chapters also pro

[2022-09-19 22:20] ssddanbrown commented on #3717
Due to the above, I'm going to go ahead and close this off.

[2022-09-19 22:20] #3717 closed, assigned to nobody

[2022-09-19 22:21] ssddanbrown commented on #3713
As per the above, I'm not clear on the value of this so I'm going to go head and close this off.

[2022-09-19 22:21] #3713 closed, assigned to nobody

[2022-09-19 22:23] ssddanbrown commented on #3719
With my above considerations/concerns in mind, I'm going to go ahead and close this off.

[2022-09-19 22:23] #3719 closed, assigned to nobody

[2022-09-19 22:28] ssddanbrown commented on #3588
As per my comment above, I don't really see this type of format fitting in so will go ahead and close this off.

[2022-09-19 22:28] #3588 closed, assigned to nobody

[2022-09-19 22:30] ssddanbrown commented on #3651
@nhmw-bnovak If it's reproducible feel free to open a new specific issue for your case.

Since there hasn't be a response for a while from the issue author I'm going to go ahead and close this off.

[2022-09-19 22:30] #3651 closed, assigned to nobody

[2022-09-19 22:36] ssddanbrown commented on #3720
So what if I was searching for, like, "random_tag_fifth"? What if there were more than 6 similar tags?

It's not something wrong with underscores, it's due to tag suggestions only being based upon the first 3 or so characters provided. I can look to address that to better react to most common cases.
I'll update this issue to focus on this specific point.

I'd prefer to keep our current prefix matc

[2022-09-19 22:46] ssddanbrown commented on #3520
As of v22.09 the main pain-point, that this proposal would have addressed (breaking of internal cross-links), should now be much less of an issue. Therefore I think it'd be especially not worthwhile now to move ahead with this proposal, or a variation of it, as I don't think it'd be addressed enough of a fundamental need for the cost and confusion it would require.

Thanks everyone for your input,

[2022-09-19 22:46] #3520 closed, assigned to nobody

[2022-09-19 22:51] ssddanbrown commented on #652
Since the visual theme system has become relatively mature I'm going to go ahead and close this off as I'm not sure of what further to do apart from further clean & break down view files as we are developing the platform.

[2022-09-19 22:51] #652 closed

[2022-09-20 02:52] Kol8bok commented on #3730
PHP Version: 7.4.30
BookStack Version: v22.09

[2022-09-20 09:06] SonGokussj4 commented on #821
Yes, I know about that and tried to use that. It could help by creating some "variables" page within "global" book or something like that and then on each line specify "variable", which would be then linked in different pages.
But as I tried things some weeks ago, I believe there was a problem with that - it inserts the block into a new book. Not in the middle of text for example.
So the foundatio

[2022-09-20 10:19] igoresz opened #3735 "user to subscribe for changes/updates on viewed page by click"
### Describe the feature you'd like

I'm sorry for bothering...
Is it possible to mountain in next releases the following: user may **to subscribe for changes/updates on viewed page** by click (if field "email" in Profile is non epmty)

### Describe the benefits this would bring to existing BookStack users

sometimes user must know about changes/updates on some pages by "subscribing for upd"

###

[2022-09-20 10:23] #3735 closed, assigned to nobody

[2022-09-20 10:55] maxime-robin-mis opened #3736 "Add "Read button" to attest that the user has read this page"
### Describe the feature you'd like

On all pages, add a button that all readers can click to attest to the reading

### Describe the benefits this would bring to existing BookStack users

We us BookStack like an internal Wiki for my company.

When an user read one page, we doesn't know if he has really reading

### Can the goal of this request already be achieved via other means?

With the commen

[2022-09-20 10:58] pmenzel commented on #3734
Great, thanks!
I was writing a Python script to download pages into a folder structure that represents shelves, books, and chapters and stumbled upon this issue.

A workaround would be to use `/api/chapters?filter[book_id]=X` to get the chapters of each book.
For pages without chapters, it is less straightforward at the moment. I think, one could do `/api/pages?filter[book_id]={id}` and then filte

[2022-09-20 11:01] ssddanbrown commented on #3650
Thanks for confirming what works @Statium.
I've made changes in 050d69ea276da40ec23c32d8f0da6f7d958b1427 to include the specific format you displayed in your last message. These will be part of v22.09.1.

[2022-09-20 11:01] #3650 closed, assigned to nobody

[2022-09-20 11:13] ssddanbrown commented on #3736
Thanks for the suggestion @maxime-robin-mis, but this really comes across as a business specific process so I'm not really sure on the value of such as feature within BookStack itself, other than being a convenient location for your business process.
Even if we added this, you would still not know if the user has read the page, only that they say they have.

[2022-09-20 11:53] #3731 closed, assigned to nobody

[2022-09-20 12:26] ssddanbrown commented on #3730
Hi @Kol8bok,
I've just released BookStack v22.09.1, which within I added additional debug detail intended for this specific scenario.
Please could you update to v22.09.1 then re-attempt the scenario and share the new error message that's shown/logged? It should now provide much better guidance into the reason that the SAML response is found to be invalid.

[2022-09-20 12:32] ssddanbrown commented on #3732
Hi @Gr-DigiLady,
I've now added Greek to Crowdin: https://crowdin.com/project/bookstack/el
As mentioned above, you should be able to directly upload the PHP files.

I'll therefore close this off but if you have any issues feel free to still comment here and I should still be notified.

[2022-09-20 12:32] #3732 closed, assigned to ssddanbrown

[2022-09-20 20:35] bhsmither commented on #821
My experiments (that had a different problem) showed that
```<p id="bkmrk-this-year">2022</p>```
which allowed for inline placement
```Copyright {{@99#bkmrk-this-year}}, Foo Corp.<br>All rights reserved.```
resulting in
[code]
It was a single experiment. I first tried `<span>` tags, expecting the result should be inline because a `<p>` tag is a block-level element. My conclusion is that it doesn't

[2022-09-20 20:58] bhsmither opened #3738 "Include Tag Popup Does Not Appear"
### Describe the Bug

According to:
[code]
there should be a popup. I do not get that action.

### Steps to Reproduce

1. Have the browser's Developer Tools, Console tab open.
2. View any page.
3. Note the error shown on the Console tab.
4. Swipe some text on the page.

### Expected Behaviour

The popup appears.

### Screenshots or Additional Context

The browser console reports:
[code]

### Brows

[2022-09-20 21:09] ssddanbrown commented on #821
Yeah, I built the include system with in-line content in mind.

In most cases BookStack will use the child content of the referenced tag (Inner HTML) unless the tag is one of a few (Tables, Lists, maybe others) where that would cause issues, in which case the entire tag content (Outer HTML) will be used.

[2022-09-20 21:11] ssddanbrown commented on #3738
Hi @bhsmither,
Do you experience the same on our demo site?:

https://demo.bookstackapp.com/books/it-department/page/member-onboarding-guide

[2022-09-20 21:30] bhsmither commented on #3738
Visual inspection of the code reveals:
[code]
I have put a copy of base.blade.php in the /themes/`my_theme`/layouts folder.

(Being a noob) I used `{{ versioned_asset('dist/customstyles.css') }}` on line 20.

The javascript code here suggests the use of a _quick and dirty_ way to get the apps version value so to populate a querystring for a following `import()` argument.

I will remove the blade f

[2022-09-20 21:49] bhsmither commented on #3738
Tests show that was the problem.

Line 20 is restored to stock code.

Instead, I created a `custom-styles` language entry for the theme.

[2022-09-21 02:27] bhsmither commented on #2884
I needed to do this. In a cram session, I needed to add two dozen chapters and two dozen pages to each chapter. Initially, the pages were to be blank (titles only), to be filled in later.

After creating a page, I had to go back to the Chapter to access the New Page button.

The solution I implemented is as follows:
1. Copy /resources/views/pages/show.blade.php to /themes/`your_theme`/pages/.
2. N

[2022-09-21 06:42] ssoulaimana opened #3739 "View content as another user / impersonate"
### Describe the feature you'd like

For users with editing permission rights, it would be great to confirm that their settings of permissions have been done correctly by being able to view Bookstack as another user.
Ideally, I could search for a user and have an option to "View content as this user", it would then open a separate logged session as this user and show the content that user can have

[2022-09-21 08:50] ssddanbrown commented on #3738
Happy to hear you found the cause, will therefore close this off.

[2022-09-21 08:50] #3738 closed, assigned to nobody

[2022-09-21 09:54] ferdieb opened #3740 "Add Technical Info button"
### Describe the feature you'd like

Add another Action button for a page called "Technical Information".
When clicking the button, a pop-up(?) can provide the technical info of the complete bread crumb summary for the current displayed item (a page in this example):

### Item  > Display name  > Slug   [Technical ID]
**Shelve**  > MyShelve  > /shelves/cpy-myshelve
**Book**  >  Book One  >  /books/

[2022-09-21 10:05] ferdieb opened #3741 "Updater Function executed by the administrator user via the Front-end"
### Describe the feature you'd like

As an Admin, I would like to have a button to apply a new update released on GitHub. Something like a "Check for new releases", and then to apply the update if so selected.

One can also provide for a 'Upgrade' permission (or role if it's warranted) to lock down this ability to a specific user role and assigned knowingly to a specific user(s).

This should prov

[2022-09-21 13:39] athornfam2 commented on #2884
Thanks for the work so far. Hopefully this can be merged into a upcoming release.

[2022-09-21 23:24] skaag opened #3743 "Enable HighDPI images from Diagrams.net"
### Describe the feature you'd like

Right now if you own a HighDPI monitor the images returned from Diagrams.net look fuzzy. To solve this we need to request HighDPI image generation from Diagrams.net

### Describe the benefits this would bring to existing BookStack users

This would make pages more readable on HighDPI displays (aka "Retina" displays)

### Can the goal of this request already be

[2022-09-22 07:47] soflane commented on #3496
Indeed it would be great to make some 'pagebreak' in order to make the pdf export more structured. Issue [#992](https://github.com/BookStackApp/BookStack/issues/992) is also relating it.
I saw that the original editor TInyMCE has the feature as a plugin (see [here](https://www.tiny.cloud/docs/plugins/opensource/pagebreak/)).
Would be there any way to integrate the TinyMCE plugins into bookstack ?

[2022-09-22 09:29] Babalion opened #3744 "Add MATLAB code syntax highlighting"
### Describe the feature you'd like

It would be nice if you could add MATLAB syntax highlighting to the supported languages for code blocks

### Describe the benefits this would bring to existing BookStack users

In scientific and industrial areas MATLAB is a popular software for calculations and simulations.
Therefore, lots of people would use and like this feature!

### Can the goal of this req

[2022-09-22 11:47] ssddanbrown commented on #3744
Relevant codemirror mode: https://codemirror.net/5/mode/octave/index.html

[2022-09-23 07:17] techauthoruk opened #3746 "Turn off comments for Guest user"
### Describe the feature you'd like

At the moment, it seems the comments feature is set globally, regardless of their access permissions. I think it would be beneficial to be able to turn off the comments feature for guest users who are using public access as they are only supposed to have read-only access to content

### Describe the benefits this would bring to existing BookStack users

Maybe t

[2022-09-23 08:25] frank-embleton opened #3747 "Missing content after upgrade to v22.09.1"
### Describe the Bug

Following an upgrade to 22.09.1 many of my shelves, books and pages are missing from the frontend.

Inspecting the database I can see that the content is still there.

### Steps to Reproduce

1. Upgrade to 22.09.1
2. Look for pages/books/shelves...

### Expected Behaviour

My pages to be visible?

### Screenshots or Additional Context

_No response_

### Browser Details

_No

[2022-09-23 08:37] frank-embleton commented on #3747
Running these commands seems to fix it:
[code]

[2022-09-23 10:49] ssddanbrown commented on #3747
Hi @frank-embleton,
Good to hear you found a fix. I'd think it's specifically the `regenerate-permissions` command that fixed this.

Do you happen to know the version of BookStack you upgraded from?

[2022-09-23 10:53] ssddanbrown commented on #3746
Hi @techauthoruk

The ability to add/edit/delete comments should already be configurable via the roles assigned to a user, so in this case the roles assigned to the guest user. By default on a fresh system, the guest user should not be able to add/edit/delete comments.
An example of this setup can be seen on our [demo setup](https://demo.bookstackapp.com), where you'd see you can't add comments as

[2022-09-23 11:10] ssddanbrown commented on #3740
Hi @ferdieb,

Thanks for the suggestion.
From this sounds of this, this primarily would provide the ID for the page since the other listed details can be already be found fairly directly.

The ID can already be found fairly quickly via the link/include tag popup as shown in the "Easily Grabbing the Syntax" section fo the following page: https://www.bookstackapp.com/docs/user/reusing-page-content/#

[2022-09-23 11:33] techauthoruk commented on #3746
Oops! My bad...missed that totally. Closing this off to avoid further embarrassment!

[2022-09-23 11:33] #3746 closed, assigned to nobody

[2022-09-23 11:36] reddexx opened #3748 "2 Bookstack Instance on a Database"
### Attempted Debugging

- [X] I have read the debugging page

### Searched GitHub Issues

- [X] I have searched GitHub for the issue.

### Describe the Scenario

Hi,
I plan to publish my internal Bookstack but would like to have separate accounts
so that the external Bookstack (internet) can log in the manual registered users but not the Ldap users, runs around the internal network

I have the fo

[2022-09-23 11:45] ssddanbrown commented on #3748
Hi @reddexx,

It is technically possible, that you could point two BookStack instance to the same database, but this is not advised nor supported in any way. The logic and systems built into BookStack assume a single instance to a single database instance. It's highly likely you're encounter side affects and bugs in doing this.

None that I know of, but you could always build something via the API

[2022-09-23 11:53] ssddanbrown commented on #3707
### Dev findings for callouts

Setting tinymce `keep_styles` option to false will clear on newline, but will affect current format handling in such cases for all block types.
Option usage in tinymce src here:

https://github.com/tinymce/tinymce/blob/f65c926ace4ae3f68f8c08a1f6a4b693fc26e241/modules/tinymce/src/core/main/ts/newline/InsertBlock.ts#L267-L270

No additional control possible by the look

[2022-09-23 12:06] reddexx commented on #3748
Would it be possible to syncronize Bookstack instances in the future?

I just think it's safer not to log in with the ldap from the internet.

[2022-09-23 12:39] ssddanbrown commented on #3748
That wouldn't really be a feature I'd look to support directly within-platform. Maybe we'd introduce some additional export options to ease portability to move closer to that, but full sync is a large request that I don't think would be worthwhile to maintain.

Maybe you could use an intermediate auth platform? Something that can look-up to your LDAP system (maybe via an approved/whitelisted IP/co